{% extends 'layout_login.html.twig' %}

{% block body %}
    <div>
        <div class="login-box visible widget-box no-border">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <i class="ace-icon fa fa-coffee green"></i>
                    Veuillez saisir votre information
                </h4>

                <div class="space-6"></div>

                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <fieldset>
                        <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="Nom d'utilisateur"
                                           id="username" name="username" value="{{ last_username }}"
                                           required="required">
                                    <i class="ace-icon fa fa-user"></i>
                                </span>
                        </label>

                        <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" placeholder="Mot de passe" id="password"
                                           name="password" required="required">
                                    <i class="ace-icon fa fa-lock"></i>
                                </span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">
                            <label class="inline">
                                <input type="checkbox" class="ace">
                                <span class="lbl">Se souvenir de moi</span>
                            </label>

                            <button type="submit" class="width-40 pull-right btn btn-sm btn-primary">
                                <i class="ace-icon fa fa-key"></i>
                                <span class="bigger-110">Connexion</span>
                            </button>
                        </div>

                        <div class="space-4"></div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

