<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}GESTI{% endblock %}</title>
    {% block stylesheets %}
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/bootstrap.min.css' }}"/>
        <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/font-awesome.css' }}" type="text/css"/>

        <!-- page specific plugin styles -->

        <!-- text fonts -->

    {% endblock %}
    <style>
        hr.red{
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid #8F0416;
            margin: 1em 0;
            padding: 0;
        }

        hr.separator{
            display: block;
            border: 0;
            border-top: 1px solid #555;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

</head>
<body style="font-size: 15px; padding-top: 15px;">

<div class="container">
    <div class="row text-center">
        <img height="100" alt="Domain Owner's Avatar"
             {% if ets.logo is null %}src="{{ 'http://statics.com/gesti/img/images.png' }}"{% else %} src="{{ 'http://statics.com/gesti/img_upload/'~ets.logo.filename }}"{% endif %} />
        <hr class="red">
    </div>
    <div class="row">
        <div class="col-sm-5" style="float: left">
            <p class="text-center">EDEN GALLERY - Enceinte hotel Ibis</p>
            <p class="text-center">Rue Ravoninahitriniarivo Ankorondrano</p>
            <p class="text-center">ANTANANARIVO 101 -Madagascar</p>
            <p class="text-center">Tel / Fax : (+261) 20 23 640 53</p>
            <p class="text-center">E-mail : <a href="contact@hsmvoyages.com">contact@hsmvoyages.com</a></p>
        </div>
        <div class="col-sm-offset-2 col-sm-5" style="float: right">
            <div class="row">
                <p class="text-center">Antananarivo , {{ avoir.dateAvoir|date('d M Y') }}</p>
            </div>
            <div class="row" style="">
                <p class="">{{'Doit  : '~avoir.client }}</p>
                <p class="">{{ avoir.client.adresse }}</p>
                <p class="">{{'STAT  : '~avoir.client.numStat }}</p>
                <p class="">{{ 'NIF   : '~avoir.client.numNIF }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <p style="padding: 15px">{{ 'AVOIR : '~avoir.reference }}</p>

    </div>
    <div class="row" style="padding: 15px !important;">
        <table class="table  table-bordered" style="font-size: 12px">
            <thead>
            <tr>
                <th width="15%">Numero billet</th>
                <th width="20%">Passager</th>
                <th width="15%">Montant</th>
            </tr>
            </thead>
            <tbody>
            {% for vente in avoir.ventes %}
                <tr>
                    <td>
                        {{ vente.ticketNumber }}
                    </td>
                    <td>
                        {{ vente.passager }}
                    </td>
                    <td>
                        {{ 'MGA '~vente.montant|number_format(0,',',' ') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row" style="padding: 15px !important;">
        <div class="col-sm-offset-8 col-sm-4">
            <table class="table  table-bordered" style="font-size: 12px">
                <tbody>
                <tr>
                    <td>
                        TOTAL
                    </td>
                    {#{{ facture.montantTva }}
                    {{ facture.totalMontant }}#}
                    <td>
                        {{ 'MGA '~avoir.montant|number_format(0,',',' ') }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            Arrêté la présente avoir à la somme de:&nbsp; {{ avoir.letter|upper }}&nbsp;ARIARY
        </div>
    </div>

</div>


</body>
</html>