
{% if avoirs %}
<table class="table table-bordered table-hover table-stripped">
    <thead>
    <tr>
        {% if id_cli == 0 %}
        <th>Client</th>
        {% endif %}
        <th>Reference</th>
        <th>Date</th>
        <th>Montant</th>
        <th>Les compagnies aériennes</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for avoir in avoirs %}
        <tr>
            {% if id_cli == 0 %}
            <td>{{ avoir.client }}</td>
            {% endif %}
            <td>{{ avoir.reference }}</td>
            <td>{{ avoir.dateAvoir|date('d/m/Y') }}</td>
            <td>{{ 'MGA '~avoir.montant }}</td>
            <td>{{ avoir.cieVente }}</td>
            <td class="text-right">
                <button data-lien="{{ path('avoir_modif', {'id': avoir.id}) }}" class="btn btn-xs btn-purple ajout" data-formTitle="Modifier un avoir" data-mod="#gen_md">
                    <i class="ace-icon fa fa-check-square bigger-120"></i>
                    Modifier
                </button>
                {% if etat == 'non-paye' %}
                <button data-lien="{{ path('avoir_show', {'id': avoir.id}) }}" class="btn btn-xs btn-info ajout" data-formTitle="Regler l'avoir" data-mod="#gen_md">
                    <i class="ace-icon fa fa-check-square bigger-120"></i>
                    Régler
                </button>
                {% endif %}
                <a target="_blank" href="{{ path('avoir_pdf_print', {'id': avoir.id}) }}" class="btn btn-xs btn-danger">
                    <i class="ace-icon fa fa-file-pdf-o bigger-120"></i>
                    Imprimer
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas d'avoir.
    </div>
{% endif %}

