{% if factures %}
    <table class="table  table-bordered table-hover" id="frns-table">
        <thead>
        <tr>
            <th width="10%">Reference</th>
            <th width="10%" >Date</th>
            <th >Client</th>
            {% if etat == 'non-paye' %}
                <th>Echeance</th>
            {% endif %}
            <th >Les billets</th>
            <th >Net à payer</th>
            {% if etat == 'non-paye' %}
                <th>Payée</th>
                <th>Solde</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.reference }}</td>
                <td>
                    {#{% for class in fee.classes %}
                        {{ class.classes }}
                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    {% endfor %}#}
                    {{facture.dateFacture|date('d/m/Y') }}
                </td>
                <td>
                    {{ facture.tier }}
                </td>
                {% if etat == 'non-paye' %}
                    <td>
                        {{ facture.dateEcheance|date('d/m/Y') }}
                    </td>
                {% endif %}
                <td>
                    {% for vente in facture.ventes %}
                        {{ vente.numBillet }}
                        {% if loop.last == false %}
                            <hr class="separator">
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ facture.totalMontant|number_format(0,',',' ') }}
                </td>
                {% if etat == 'non-paye' %}
                    <td>
                        {{ facture.totalPaiement|number_format(0,',',' ') }}
                    </td>
                    <td>
                        {{ facture.solde|number_format(0,',',' ') }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row text-center">
        <button class="btn btn-app btn-success btn-xs" id="btnExport"
                onclick="tableToExcel('frns-table','rapport{{ 'now'|date('d-m-Y') }}')"><i
                    class="ace-icon fa fa-file-excel-o"></i>Excel
        </button>
        {% if idCli != '0' %}
            <a class="btn btn-app btn-danger btn-xs"
               href="{{ path('etat_facture_raport_pdf', { 'etat': etat, 'id_cli': idCli, 'debut': debut, 'fin': fin}) }}">
            <i class="ace-icon fa fa-file-pdf-o"></i>pdf
            </a>
        {% endif %}
    </div>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas encore de facture.
    </div>
{% endif %}

<script type="text/javascript">
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
        return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>