<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}GESTI{% endblock %}</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/bootstrap.min.css' }}">
    <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/font-awesome.css' }}" type="text/css"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->

    <style>
        hr.red{
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid #8F0416;
            margin: 1em 0;
            padding: 0;
        }

        hr.separator{
            display: block;
            border: 0;
            border-top: 1px solid #555;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

</head>
<body style="font-size: 15px; padding-top: 15px;">
<div class="container">
    <div class="row text-center">
        <img height="100" alt="Domain Owner's Avatar"
             {% if ets.logo is null %}src="{{ 'http://statics.com/gesti/img/images.png' }}"{% else %} src="{{ 'http://statics.com/gesti/img_upload/'~ets.logo.filename }}"{% endif %} />
        <hr class="red">
    </div>
    <div class="row">
        <div class="col-sm-5" style="float: left">
            <p class="text-center">EDEN GALLERY - Enceinte hotel Ibis</p>
            <p class="text-center">Rue Ravoninahitriniarivo Ankorondrano</p>
            <p class="text-center">ANTANANARIVO 101 -Madagascar</p>
            <p class="text-center">Tel / Fax : (+261) 20 23 640 53</p>
            <p class="text-center">E-mail : <a href="info@hsm.mg">info@hsm.mg</a>/<a href="contact@hsmvoyages.com">contact@hsmvoyages.com</a>
            </p>
        </div>
        <div class="col-sm-offset-2 col-sm-5" style="float: right">
            <p class="text-center">Antananarivo , {{ today|date('d M Y') }}</p>
            <p class="">{{ 'Doit  : '~client }}</p>
            <p class="">{{ client.adresse }}</p>
            <p class="">{{ 'STAT  : '~client.numStat }}</p>
            <p class="">{{ 'NIF   : '~client.numNIF }}</p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>
                <b>RELEVE DE COMPTE</b>
            </h2>
        </div>
    </div>
    <div class="row" style="padding: 15px !important;">
        <table class="table  table-bordered table-hover" id="frns-table">
            <thead>
            <tr>
                <th width="10%">Reference</th>
                <th width="10%" >Date</th>
                <th>Echeance</th>
                <th >Les billets</th>
                <th >Net à payer</th>
                <th>Payée</th>
                <th>Solde</th>
            </tr>
            </thead>
            <tbody>
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.reference }}</td>
                    <td>
                        {{facture.dateFacture|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ facture.dateEcheance|date('d/m/Y') }}
                    </td>
                    <td>
                        {% for vente in facture.ventes %}
                            {{ vente.numBillet }}
                            {% if loop.last == false %}
                                <hr class="separator">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ facture.totalMontant|number_format(0,',',' ') }}
                    </td>
                    <td>
                        {{ facture.totalPaiement|number_format(0,',',' ') }}
                    </td>
                    <td>
                        {{ facture.solde|number_format(0,',',' ') }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4"><b>TOTAL</b></td>
                <td>{{ totalMontant|number_format(0,',',' ') }}</td>
                <td>{{ totalPayed|number_format(0,',',' ') }}</td>
                <td>{{ totalSolde|number_format(0,',',' ') }}</td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>


</body>
</html>

