{% extends 'base.html.twig' %}

{% block body %}
    <h1>NoteCredit list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Payed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for noteCredit in noteCredits %}
            <tr>
                <td><a href="{{ path('notecredit_show', { 'id': noteCredit.id }) }}">{{ noteCredit.id }}</a></td>
                <td>{{ noteCredit.montant }}</td>
                <td>{% if entity.payed %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notecredit_show', { 'id': noteCredit.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
