{%  extends 'base.html.twig' %}
{%  block body %}
    <div class="col-xs-12 index-page" style="color: ghostwhite; min-height: 490px">
        <!-- PAGE CONTENT BEGINS -->
        <h3>Bienvenue sur <b style="text-decoration: underline">GESTI</b></h3>
        <blockquote style=" font-size: 18px;">
            Ceci est une application de gestion intégrée
            pour faciliter la gestion des entrées,
            la réservation des clients, le suivi des recouvrements
        </blockquote>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
    {#   <div class="bottom" >

       </div>#}

{% endblock %}
