{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

{% if bcs %}
    <table class="table  table-bordered table-hover" id="frns-table">
        <thead>
        <tr>
            <th width="13%">Numero BC</th>
            <th width="8%">Date</th>
            <th width="15%">Fournisseurs</th>
            <th>Total transport</th>
            <th>Total taxe</th>
            <th>Total bc</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for bc in bcs %}
            <tr>
                <td>
                    {{ bc.reference }}
                </td>
                <td>
                    {{ bc.dateBC|date('d/m/Y') }}
                </td>
                <td>
                    {{ bc.tier }}
                </td>
                <td>
                    {#{{ bc.montantTransport }}#}
                    {{  'MGA '~bc.montantTransport|number_format(0,',',' ') }}
                </td>
                <td>
                    {{  'MGA '~bc.montantTaxe|number_format(0,',',' ') }}
                </td>
                <td>
                    {% set totalBc = bc.montantTransport + bc.montantTaxe %}
                    {{  'MGA '~totalBc|number_format(0,',',' ') }}
                </td>

            </tr>
            {% set total = total + bc.montantTransport + bc.montantTaxe %}
        {% endfor %}
            <tr>
                <td style="border: none"></td>
                <td style="border: none"></td>
                <td style="border: none"></td>
                <td class="" style="border: none"></td>
                <td>Total</td>
                <td>{{ total|number_format(0,',',' ') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row text-center">
        <button class="btn btn-app btn-success btn-xs" id="btnExport" onclick="tableToExcel('frns-table','rapport{{ 'now'|date('d-m-Y') }}')"><i class="ace-icon fa fa-file-excel-o"></i>Exporter</button>
    </div>

{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas de bon de commande.
    </div>
{% endif %}

<script type="text/javascript">
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
        return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>
