<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}GESTI{% endblock %}</title>
    {% block stylesheets %}
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/bootstrap.min.css' }}" />
        <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/font-awesome.min.css' }}" type="text/css"/>

        <!-- page specific plugin styles -->

        <!-- text fonts -->

    {% endblock %}

    <style>
        hr.red{
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid #8F0416;
            margin: 1em 0;
            padding: 0;
        }

        hr.separator{
            display: block;
            border: 0;
            border-top: 1px solid #555;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body style="font-size: 15px; padding-top: 15px;">

<div class="container">
    <div class="row text-center">
        <img height="100" alt="Domain Owner's Avatar" {% if ets.logo is null %}src="{{ 'http://statics.com/gesti/img/images.png' }}"{% else %} src="{{ 'http://statics.com/gesti/img_upload/'~ets.logo.filename }}"{% endif %} />
        <p class="text-center">EDEN GALLERY - Enceinte hotel Ibis - Rue Ravoninahitriniarivo Ankorondrano - ANTANANARIVO 101 -Madagascar</p>
        <p class="text-center">Tel / Fax : (+261) 20 23 640 53 - E-mail : <a href="contact@hsmvoyages.com">contact@hsmvoyages.com</a></p>
        <hr class="red">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p class="text-center">NOM DE LA SOCIETE :&nbsp;{{ bc.tier }}</p>
        </div>
        <div class=" col-sm-6">
            <div class="row">
                <p class="text-center">BON DE COMMANDE n°{{ " "~bc.reference~" " }} à l'ordre de&nbsp;{{ bc.tier }}</p>
            </div>
        </div>
    </div>
    <div class="row" style="font-size: 18px;padding: 0px 15px 0px 15px !important;">
        <p> Veuillez delivrer le(s) billet(s) suivant Taxe comprise</p>

    </div>
    <div class="row" style="padding: 0px 15px 0px 15px!important;">
        <table class="table  table-bordered" style="font-size: 12px">
            <thead>
            <tr>
                <th width="12%">Passager</th>
                <th width="10%">Type</th>
                <th width="15%">Compagnie aériènne</th>
                <th width="15%">Parcours</th>
                <th width="15%">Date</th>
                <th width="5%">Classe</th>
                <th width="10%">FEES</th>
                <th width="12%">TOTAL</th>
            </tr>
            </thead>
            <tbody>
            {% for vente in bc.ventes %}
                {% set type_vol = (vente.type == 'allerRetour')? 'Aller-Retour': 'Aller simple' %}
                <tr>
                    <td>
                        {{ vente.passager }}
                    </td>
                    <td>
                        {{ type_vol }}
                    </td>
                    <td>
                        {{ vente.compagieAerienne }}
                    </td>
                    <td>
                        {% autoescape false %}
                            {{ vente.parcTown }}
                        {% endautoescape %}
                    </td>
                    <td>
                        {% autoescape false %}
                            {{ vente.parcDate }}
                        {% endautoescape %}
                    </td>
                    <td>
                        {% autoescape false %}
                            {{ vente.parcClass }}
                        {% endautoescape %}
                    </td>
                    <td>
                        {{ 'MGA '~vente.feesAGV|number_format(0,',',' ') }}
                    </td>
                    <td>
                        {{ 'MGA '~vente.totalTarifBCFEES|number_format(0,',',' ') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-4">
            PNR : {{ bc.pnr }} &nbsp; {% if bc.pnrPropre is not null %} PNR : {{ bc.pnrPropre }} {% endif %}
        </div>
        <div class="col-sm-8">
            <p class="text-center">A Antananarivo, le {{ bc.dateBC|date('d M Y', "Europe/Paris") }}</p>
            <p class="text-center">Nom et signature</p>
            <p class="text-center">
                <img height="100" alt="Domain Owner's Avatar" src="{{ 'http://statics.com/gesti/img/cachet.png' }}"/>
            </p>
            <p class="text-center">Signature et cachet de la société</p>
        </div>
    </div>
    <div class="row"></div>
    <hr class="red">
    <div class="row text-center">
        <p class="text-center">Société Anonyme au capital de 400 000 000 Ariary</p>
        <p class="text-center">R.C.S 2002B00215 – Stat. 55 101 112 007 010 921 – N.I.F. 4000037742 – CIF 0016852DGI-B du
            23/04/12</p>
    </div>
</div>

</body>
</html>
