{%
form_theme form
'form/my_theme.html.twig'
%}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

{% set data_url = path('fees_show') %}
<div class="row">
    {{ form_start(form) }}
    {% for vente in form.ventes %}
            <div class="{% if nbr == 1 %}col-md-12 {% else %} col-sm-6 {% endif %}" style=" padding-top: 0px;">
                {{ form_row(vente.passager) }}
                {{ form_row(vente.numBillet) }}
                {{ form_row(vente.bookRef) }}
                {{ form_row(vente.fees,{'attr':{'data-url': data_url }}) }}
                {{ form_row(vente.classes) }}
            </div>
    {% endfor %}
    {{ form_end(form) }}
</div>
<script type="text/javascript">
    $('.fee-change').trigger('change');
</script>
