{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-sm-6">
        <h3><span class="ace-icon fa fa-money"></span>&nbsp;Tous les bons de commandes</h3>
    </div>
    <div class="col-sm-4 text-right" style="padding-top: 20px">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="" style="padding-top: 5px"><strong>Fournisseur:</strong></label>
            <div class="col-sm-9">
                <select class="form-control select2" name="" id="cli_id">
                    <option value="0">Tous</option>
                    {% for client in fournisseurs %}
                        <option value="{{ client.id }}"> {{ client }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-2 text-right" style="margin-top: 15px;">
        <button data-lien="{{ path('bc_init_create') }}" class="btn btn-primary ajout"
                data-formtitle="Créer un bon de commande" data-mod="#bc">
            <i class="ace-icon fa fa-plus-circle"></i>
            Créer un BC
        </button>
    </div>
</div>
<ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab">
    <li class="onglet2" id="non-valide" data-cible="#liste-bc">
        <a href="{{ path('bc_list', {'etat': 'non-valide'}) }}">A valider</a>
    </li>
    <li class="onglet2" id="incomplet" data-cible="#liste-bc">
        <a href="{{ path('bc_list', {'etat': 'incomplet'}) }}">Non terminer</a>
    </li>
    <li class="onglet2" id="valide" data-cible="#liste-bc">
        <a href="{{ path('bc_list', {'etat': 'valide'}) }}">Valider</a>
    </li>
    <li class="onglet2" id="vendu" data-cible="#liste-bc">
        <a href="{{ path('bc_list', {'etat': 'vendu'}) }}">Terminé</a>
    </li>
</ul>
<div class="tab-content" id="liste-bc">

</div>

<script>

    $('.onglet2').first().trigger('click');
    $('.select2').css({ width: "100%" }).select2();
</script>