{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

{% if bcs %}
    <table class="table  table-bordered table-hover">
        <thead>
        <tr>
            <th width="13%">Numero BC</th>
            <th width="8%">Date</th>
            <th width="15%">Fournisseurs</th>
            <th>Total transport</th>
            <th>Total taxe</th>
            <th class="text-right" width="10%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for bc in bcs %}
            {% set ventes = bc.ventes %}
            <tr>
                <td>
                    {{ bc.reference }}
                </td>
                <td>
                    {{ bc.dateBC|date('d/m/Y') }}
                </td>
                <td>
                    {{ bc.tier }}
                </td>
                <td>
                    {#{{ bc.montantTransport }}#}
                    {{  'MGA '~bc.montantTransport|number_format(0,',',' ') }}
                </td>
                <td>
                    {{ 'MGA '~bc.montantTaxe|number_format(0,',',' ') }}
                </td>

                <td class="text-right">
                    <div class="hidden-sm hidden-xs btn-group">
                        <button data-toggle="tooltip" data-placement="bottom" title="Voir"
                                data-lien="{{ path('bc_show', {'id' : bc.id }) }}" class="btn btn-xs btn-info show_bc">
                            <i class="ace-icon fa fa-eye bigger-120"></i>
                        </button>
                        {% if (etat == 'non-valide') %}
                            <button data-toggle="tooltip" data-placement="bottom" title="Valider"
                                    data-lien="{{ path('bc_confirm_valider', {'id' : bc.id }) }}"
                                    class="btn btn-xs btn-success ajout" data-formTitle="Valider un bon de commande"
                                    data-mod="#gen_md">
                                <i class="ace-icon fa fa-check-square bigger-120"></i>
                            </button>
                            {% if (is_granted('ROLE_ADMIN')) %}
                                <button data-toggle="tooltip" data-placement="bottom" title="Modifier"
                                        data-lien="{{ path('bc_init_modif', {'id' : bc.id }) }}"
                                        class="btn btn-xs btn-primary ajout"
                                        data-formtitle="Modifier un bon de commande"
                                        data-mod="#bc"
                                >
                                    <i class="ace-icon fa fa-edit bigger-120"></i>
                                </button>
                            {% endif %}
                        {% elseif etat == 'valide' %}
                            <button data-toggle="tooltip" data-placement="bottom" title="Gérnerer vente"
                                    data-lien="{{ path('bc_generer_ventes', {'id' : bc.id }) }}"
                                    class="btn btn-xs btn-success ajout"
                                    data-formTitle="Veuillez ajouter les informations complémentaires" data-mod="#gen">
                                <i class="ace-icon fa fa-paypal bigger-120"></i>
                            </button>
                        {% elseif etat == 'incomplet' %}
                            <button data-toggle="tooltip" data-placement="bottom" title="Terminer"
                                    data-lien="{{ path('bc_do_create', {'id' : bc.id }) }}"
                                    class="btn btn-xs btn-success termirner-bc"
                                    data-formTitle="Veuillez ajouter les informations complémentaires" data-mod="#gen">
                                <i class="ace-icon fa fa-hourglass-end bigger-120"></i>
                            </button>
                        {% endif %}
                        {% if (etat == 'non-valide' or etat == 'incomplet') and (is_granted('ROLE_ADMIN')) %}
                            <button data-toggle="tooltip" data-placement="bottom" title="Supprimer"
                                    data-lien="{{ path('bc_confirm', {'id' : bc.id}) }}" class="btn btn-xs btn-danger ajout" data-formTitle="Supprimer une BC" data-mod="#gen_md">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas de bon de commande.
    </div>
{% endif %}
