

<div class="row">
    <div class="col-sm-6">
        <h3>Detail de la bon de commande</h3>
    </div>
    <div class="col-sm-6 text-right">
        {% if bc.etat == 'valide' or bc.etat == 'vendu' %}
        <a target="_blank" href="{{ path('bc_pdf', { 'id' : bc.id }) }}" class="btn btn-sm btn-default">
            <i class="fa fa-file-pdf-o"></i>
            &nbsp;Obtenir pdf
        </a>
        {% elseif bc.etat == 'incomplet' %}
            <button data-toggle="tooltip" data-placement="bottom" title="Terminer"
                    data-lien="{{ path('bc_do_create', {'id' : bc.id }) }}"  class="btn btn-sm btn-success termirner-bc" >
                <i class="ace-icon fa fa-hourglass-end bigger-120"></i>
                &nbsp;Terminer
            </button>
        {% endif %}
        <button class="btn btn-info btn-sm retour" data-cible="#{{ bc.etat }}">
            <i class="ace-icon fa fa-reply bigger-110"></i>
            Retour
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 padding10">
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold"> Réference</label>
            <div class="col-sm-8 input-group">
                <input type="text" disabled value="{{ bc.reference }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Date</label>
            <div class="col-sm-8 input-group">
                <input type="text" disabled value="{{ bc.dateBC|date("d/m/Y") }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Fournisseur</label>
            <div class="col-sm-8 input-group">
                <input type="text" disabled value="{{ bc.tier }}" class="form-control text-right">
            </div>
        </div>
    </div>
    <div class="col-sm-6 padding10">
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Total FEES</label>
            <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                <input type="text" disabled value="{{ bc.feeAGV|number_format(0,',',' ') }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Total transport</label>
            <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                <input type="text" disabled value="{{ bc.montantTransport|number_format(0,',',' ') }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Total taxe</label>
            <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                <input type="text" disabled value="{{ bc.montantTaxe|number_format(0,',',' ') }}" class="form-control text-right">
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 15px !important;">
    <table class="table  table-bordered" style="font-size: 12px">
        <thead>
        <tr>
            <th width="12%">Passager</th>
            <th width="10%">Type</th>
            <th width="15%">Compagnie aériènne</th>
            <th width="15%">Parcours</th>
            <th width="10%">Date</th>
            <th width="5%">Classe</th>
            <th width="12%">Transport et taxe</th>
            <th width="10%">FEES</th>
            <th width="12%">TOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% for vente in bc.ventes %}
            {% set type_vol = (vente.type == 'allerRetour')? 'Aller-Retour': 'Aller simple' %}
            <tr>
                <td>
                    {{ vente.passager }}
                </td>
                <td>
                    {{ type_vol }}
                </td>
                <td>
                    {{ vente.compagieAerienne }}
                </td>
                <td>
                    {% autoescape false %}
                        {{ vente.parcTown }}
                    {% endautoescape %}
                </td>
                <td>
                    {% autoescape false %}
                        {{ vente.parcDate }}
                    {% endautoescape %}
                </td>
                <td>
                    {% autoescape false %}
                        {{ vente.parcClass }}
                    {% endautoescape %}
                </td>
                <td>
                    {{ 'MGA '~vente.totalTarifBC|number_format(0,',',' ') }}
                </td>
                <td>
                    {{ 'MGA '~vente.feesAGV|number_format(0,',',' ') }}
                </td>
                <td>
                    {{ 'MGA '~vente.totalTarifBCFEES|number_format(0,',',' ') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>