
<div class="row">
    <div class="col-sm-4">
        <h3><span class="ace-icon fa fa-history"></span>&nbsp;Historiques</h3>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6 text-right" style="padding-top: 20px">
                <div class="form-group">
                    <label for="periode" class="col-sm-3 control-label" style="padding-top: 5px">Période</label>
                    <div class="col-sm-9">
                        <select id="periode" class="form-control">
                            <option value="week"  >Cette semaine</option>
                            <option value="last_week"  >Semaine dernière</option>
                            <option value="month"  >Ce mois</option>
                            <option value="last_month"  >Mois dernier</option>
                            <option value="perso"  >Personaliser</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-right" style="padding-top: 20px">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cli_id" style="padding-top: 5px"><strong>Utilisateurs:</strong></label>
                    <div class="col-sm-9">
                        <select class="form-control select2" name="" id="cli_id">
                            <option value="0">Tous</option>
                            {% for user in users %}
                                <option value="{{ user.id }}"> {{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="date-perso" style="display: none; margin-top: 10px; margin-right: 13px !important;">
            <div class="col-sm-5">
                <div class="from-group">
                    <label for="" class="col-sm-3 control-label">Debut:</label>
                    <div class="col-sm-9">
                        <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Debut">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="from-group">
                    <label for="" class="col-sm-3 control-label">Fin:</label>
                    <div class="col-sm-9">
                        <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Fin">
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-default" id="findByPerso" >
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab">
    <li class="onglet3" id="non-paye" data-cible="#liste-facture">
        <a href="{{ path('logs_list') }}">Les historiques des utilisateurs</a>
    </li>
</ul>
<div class="tab-content" id="liste-facture">

</div>

<script>

    $('.onglet3').first().trigger('click');
    $('.select2').css({ width: "100%" }).select2();
</script>