{% if logs %}
    <table class="table  table-bordered table-hover">
        <thead>
        <tr>
            <th width="10%">Date</th>
            <th width="10%">Heure</th>
            <th>Utilisateur</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.date|date('d/m/Y') }}</td>
                <td>
                    {{ log.date|date('H:m:i') }}
                </td>
                <td>
                    {{ log.user.username }}
                </td>
                <td>
                    {{ log.description }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas encore d'historique.
    </div>
{% endif %}