
<h3 class="text-bold">Taux de la commmission sur paiementt carte</h3>

<div class="row" style="padding-left: 20%; padding-right: 50%;">
    <table class="table  table-bordered table-hover">
        <thead>
        <tr>
            <th>Taux</th>
            <th width="20%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tVA in tVAs %}
            <tr>
                <td>{{ tVA.taux }}&nbsp;%</td>
                <td>
                    <button data-lien="{{ path('taux_edit',{'id' : tVA.id}) }}" class="btn btn-xs btn-info ajout" data-formTitle="Modifier le taux" data-mod="#gen_md">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
