{% for label, messages in app.flashes %}
    {% for message in messages %}
        <script>
            $.notify({
                // options
                message: '{{ message }}'
            },{
                // settings
                type: '{{ label }}'
            });
        </script>
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}
<div class="row">
    <div class="col-sm-8">
        <h3 class="text-muted">Les modes de paiements</h3>
    </div>
    {#<div class="col-sm-4 text-right">
        <button data-lien="{{ path('paiement_mode_new') }}" class="btn btn-primary ajout" data-formTitle="Ajouter un mode de paiement" data-mod="#gen_md">
            <i class="ace-icon fa fa-plus-circle"></i>
            Ajouter
        </button>
    </div>#}
</div>

<div class="row" style="padding-left: 10%; padding-right: 10%;">
    <table class="table  table-bordered table-hover">
        <thead>
            <tr>
                <th>Libelle</th>
                <th class="text-right" width="10%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement_mode in paiement_modes %}
            <tr>
                <td>{{ paiement_mode.libelle }}</td>
                <td class="text-right">
                    <div class="hidden-sm hidden-xs btn-group">
                        <button data-lien="{{ path('paiement_mode_edit',{'id' : paiement_mode.id}) }}" class="btn btn-xs btn-info ajout" data-formTitle="Modifier un mode de paiement" data-mod="#gen_md">
                            <i class="ace-icon fa fa-pencil-square bigger-120"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>