{% extends 'base.html.twig' %}

{% block body %}
    <h1>PaiementMode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paiement_mode.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ paiement_mode.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paiement_mode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paiement_mode_edit', { 'id': paiement_mode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
