{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

{% if ventes %}
    <table id="frns-table" class="table  table-bordered table-hover">
        <thead>
        <tr>
            <th width="12%">Numero billet</th>
            {% if active == 'facture' %}
                <th>Num Facture</th>
            {% endif %}
            <th width="8%">Date</th>
            <th width="15%">Passager</th>
            <th >CIE</th>
            <th>Parcours</th>
            <th>Montatnt billet</th>
            <th>Taxe</th>
            <th>Remboursement</th>
            <th>MD</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for vente in ventes %}
            <tr>
                <td>
                    {{ vente.numBillet }}
                </td>
                {% if active == 'facture' %}
                    <td>
                        {{ vente.facture.reference }}
                    </td>
                {% endif %}
                <td>
                    {{ vente.dateVente|date('d/m/Y') }}
                </td>
                <td>
                    {{ vente.passager }}
                </td>
                <td>
                    {{ vente.compagieAerienne }}
                </td>
                <td>
                    {% autoescape false %}
                        {{ vente.parcTown }}
                    {% endautoescape %}
                </td>
                <td>
                    {{ vente.montantTransport }}
                </td>
                <td>
                    {{ vente.taxe }}
                </td>
                <td>
                    {{ vente.remboursement }}
                </td>
                <td>
                    {% set total = total + vente.montantTransport + vente.taxe - vente.remboursement %}
                    {{ vente.montantTransport + vente.taxe - vente.remboursement }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot style="border: none">
        <tr style="border: none">
            <td style="border: none"></td>
            {% if active == 'facture' %}
                <td>
                </td>
            {% endif %}
            <td style="border: none"></td>
            <td style="border: none"></td>
            <td style="border: none"></td>
            <td style="border: none"></td>
            <td style="border: none"></td>
            <td style="border: none"></td>
            <td>Total</td>
            <td>{{ total }}</td>
        </tr>
        </tfoot>
    </table>

    <div class="row text-center">
        <button class="btn btn-app btn-success btn-xs" id="btnExport" onclick="tableToExcel('frns-table','rapport{{ 'now'|date('d-m-Y') }}')"><i class="ace-icon fa fa-file-excel-o"></i>Exporter</button>
    </div>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas encore de ventes.
    </div>
{% endif %}


<script type="text/javascript">
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
        return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>

