{% extends 'layout_ajax.html.twig' %}

{% block ajax_content %}
    <ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab">
        {#{% if dicriminator == "client" %}#}
            <li class="onglet" id="fees" data-cible="#liste-tiers">
                <a href="{{ path("fees_index") }}">Les frais de services</a>
            </li>
        {#{% endif %}#}
        <li class="onglet" id="tva" data-cible="#liste-tiers">
            <a href="{{ path("tva_index") }}">TVA</a>
        </li>
        <li class="onglet" id="monaie" data-cible="#liste-tiers">
            <a href="{{ path("currency_index") }}">Les unités monétaire</a>
        </li>
        <li class="onglet" id="taux_com" data-cible="#liste-tiers">
            <a href="{{ path("taux_index") }}">Taux sur les commissions de paiement</a>
        </li>
        <li class="onglet" id="paiement" data-cible="#liste-tiers">
            <a href="{{ path("paiement_mode_index") }}">Les modes de paiements</a>
        </li>
        <li class="onglet" id="generale_info" data-cible="#liste-tiers">
            <a href="{{ path("general_index") }}">Information generale</a>
        </li>
    </ul>
    <div class="tab-content" id="liste-tiers">

    </div>
    <script>
        $('.onglet').first().trigger('click');
    </script>
    {#    {% include 'client/list.html.twig' %}#}
{% endblock %}