{% for client in clients %}
    <option value="{{ client.id }}" {% if client.id == id_cli %} selected {% endif %} >{{ client }}</option>
{% endfor %}
<option value="999999999" >Nouveau client</option>