{%
form_theme form
'parcour_theme.html.twig'
'form/my_theme.html.twig'
'jquery.collection.html.twig'
%}

{#{% set data_url = path('fees_show',{'id':'1'}) %}#}
{% set data_url = path('fees_show', {'id': '2'}) %}

{#{% set valeur = (vente is defined)? vente.devise:devise %}#}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-sm-3 text-info">
        <h3>
            {% autoescape false %}
                {{ form_titre }}
            {% endautoescape %}
        </h3>
    </div>
    <div class="col-sm-7 text-right" id="form_scan">
    </div>
</div>
<hr style="margin: 5px;">
<div class="row" id="list-mail">
    {{ form_start(form) }}
    <div class="col-sm-6">
        {{ form_row(form.typeBillet) }}
        {{ form_row(form.remboursable) }}
        {{ form_row(form.numBillet) }}
        {{ form_row(form.bookRef) }}
        {{ form_row(form.passager) }}
        {{ form_row(form.fees,{'attr':{'data-url': data_url }}) }}
        {{ form_row(form.classes) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.compagieAerienne) }}
        {{ form_row(form.currency) }}
        {{ form_row(form.feesAGV) }}
        {{ form_row(form.montantTransport) }}
        {{ form_row(form.taxe) }}
        {{ form_row(form.type) }}
        {{ form_row(form.autreFees) }}
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <h5 class="text-muted grey" style="text-decoration: underline; margin: 5px !important;">Les itinéraires</h5>
            <div class="col-sm-12">
                {{ form_widget(form.parcours) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
    <div class="col-sm-12 text-center">
        <button class="btn btn-danger retour" data-cible="#list_vente"><i class="ace-icon fa fa-close"></i> &nbsp; Annuler</button>
        <button class="btn btn-primary" id="save_vente"><i class="ace-icon glyphicon glyphicon-check"></i> &nbsp; Valider</button>
    </div>
</div>
{#<div class="row text-center">
</div>#}
<script type="text/javascript">



    /*<script type="text/javascript">*/
    $('.my-selector').collection({
        min: 1,
        allow_up: false,
        allow_down: false,
        allow_duplicate: false,
        add: '<a href="#" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-plus-circle"></i></a>',
        remove: '<a href="#" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-minus-circle"></i></a>',
        init_with_n_elements: 1

    });
    $("#vente_autreFees").val('');
    $('#vente_fees').trigger('change');
    $('#vente_typeBillet').trigger('change');
    $("#vente_autreFees").val('0');

    /*$(".collection-actions").addClass('text-right');*/
</script>