
{%
form_theme form
'form/my_theme.html.twig'
'paiement_theme.html.twig'
'jquery.collection.html.twig'
%}


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
            {#<div class="flash-{{ label }}">
                {{ message }}
            </div>#}
        {% endfor %}
    {% endfor %}


<div class="row">

    {{ form_start(form) }}
    <div class="col-sm-6">
        <input type="hidden" name="idVentes" value="{{ idVentes }}">

        {{ form_row(form.idLi,{'attr':{'data-url': data_url }}) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.typePaiement) }}
        {{ form_row(form.dateEcheance) }}
    </div>
    {{ form_end(form) }}

    <script type="text/javascript">
        var change = undefined;

        /*$(document).on('change','#facture_paiements_0_moyenPay', function () {
            var value = $(this).val();
            if((value === "1") || (value === "4") ){
                console.log(value);
                $('.carte').removeClass('field').parent().parent('.form-group').hide();
                $('.cheque').removeClass('field').parent().parent('.form-group').hide();
                $('.devise').removeClass('field').parent().parent('.form-group').hide();
                /!*$('.cheque').removeClass('field').parent().parent('.form-group').hide();*!/
                $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            } else if (value === '2') {
                console.log(value);
                $('.carte').removeClass('field').parent().parent('.form-group').hide();
                $('.devise').removeClass('field').parent().parent('.form-group').hide();
                $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
                $('.cheque').addClass('field').parent().parent('.form-group').show();
            } else if (value === '3') {
                console.log(value);
                $('.carte').addClass('field').parent().parent('.form-group').show();
                $('.cheque').removeClass('field').parent().parent('.form-group').hide();
                $('.devise').removeClass('field').parent().parent('.form-group').hide();
                $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            } else if (value === '5'){
                console.log(value);
                $('.carte').removeClass('field').parent().parent('.form-group').hide();
                $('.cheque').removeClass('field').parent().parent('.form-group').hide();
                /!*$('.cheque').removeClass('field').parent().parent('.form-group').hide();*!/
                $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
                $('.devise').removeClass('field').parent().parent('.form-group').show();
            } else {
                console.log(value);
                $('.devise').removeClass('field').parent().parent('.form-group').hide();
                $('.carte').removeClass('field').parent().parent('.form-group').hide();
                $('.cheque').removeClass('field').parent().parent('.form-group').hide();
                $('.note-cred').removeClass('field').parent().parent('.form-group').show();
            }
        });*/
        $(document).on('change','#facture_typePaiement', function () {
            var value = $(this).val();
            if(value === "credit"){
                $('.acompte').parent().parent('.form-group').show();
            } else {
                $('.acompte').parent().parent('.form-group').hide();
            }
        });
        $('#facture_typePaiement').trigger('change');
        /*$('#facture_paiements_0_moyenPay').trigger('change');*/

    </script>



</div>