{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

{% if ventes %}
    <table class="table  table-bordered table-hover">
        <thead>
        <tr>
            {% if active == 'non-facture' %}
            <th class="center">

            </th>
            {% endif %}
            <th width="13%">Numero billet</th>
            {% if active == 'facture' %}
                <th>Num Facture</th>
            {% endif %}
            <th width="8%">Date</th>
            <th width="15%">Passager</th>
            <th >CIE</th>
            <th>Parcours</th>
            <th>Service associée</th>
            <th>Classe</th>
            <th>Type</th>
            <th class="text-right" width="10%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                {% if active == 'non-facture' %}
                <td>
                    <label class="pos-rel">
                        <input type="checkbox" value="{{ vente.id }}" class="ace vente-case">
                        <span class="lbl"></span>
                    </label>
                </td>
                {% endif %}
                <td>
                    {{ vente.numBillet }}
                </td>
                {% if active == 'facture' %}
                    <td>
                        {{ vente.facture.reference }}
                    </td>
                {% endif %}
                <td>
                    {{ vente.dateVente|date('d/m/Y') }}
                </td>
                <td>
                    {{ vente.passager }}
                </td>
                <td>
                    {{ vente.compagieAerienne }}
                </td>
                <td>
                    {% autoescape false %}
                        {{ vente.parcTown }}
                    {% endautoescape %}
                <td>
                    {{ vente.fees.libLong }}
                </td>
                <td>
                    {{ vente.classes.classes }}
                </td>
                <td>
                    {% if vente.type == 'simple' %}
                        Aller simple
                    {% else %}
                         Aller-Retour
                    {% endif %}
                </td>
                <td class="text-right">
                    <div class="hidden-sm hidden-xs btn-group">
                        <button data-lien="{{ path('vente_show', {'id' : vente.id }) }}" class="btn btn-xs btn-info show_vente" data-formTitle="Modifier un frais d'acées" data-mod="#gen">
                            <i class="ace-icon fa fa-eye bigger-120"></i>
                        </button>
                        {% if active == 'non-facture' %}
                            <button class="menu btn btn-xs btn-purple">
                                <a href="{{ path('vente_edit', {'id': vente.id}) }}" class=""><i class="ace-icon fa fa-edit bigger-120"></i></a>
                            </button>
                        <button data-lien="{{ path('vente_confirm', {'id' : vente.id}) }}" class="btn btn-xs btn-danger ajout" data-formTitle="Supprimer une vente" data-mod="#gen_md">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if active == 'non-facture' %}
        <div class="row">
            <div class="col-sm-3 text-right">
                Pour la selection:
            </div>
            <div class="col-sm-6 text-center">
                <button data-lien="{{ path('vente_facturer') }}" class="btn btn-sm btn-success " id="fact_vent">
                    <i class="ace-icon fa fa-dollar"></i>
                    &nbsp;Facturer
                </button>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas encore de ventes.
    </div>
{% endif %}


<script>

</script>

<div class="modal fade" id="facture_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="facture_modal_title">Facturer</h4>

            </div>

            <div class="modal-body" id="facture_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="facture_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="facture_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>