<div class="col-sm-12">
    <div class="col-sm-10">
        <h3><span class="ace-icon fa fa-envelope-square"></span>&nbsp;Les mails</h3>
    </div>
    <div class="col-sm-2 text-right">
        <button data-lien="{{ path('vente_nouveau') }}" class="btn btn-primary btn-sm scan">
            <i class="ace-icon fa fa-reply"></i>
            Retour au formulaire
        </button>
    </div>
</div>
<div class="col-sm-12">
    {% if inbox is null %}
        <div class="alert alert-warning">
            Le serveur n'es pas accessible pour le moment
        </div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="20%">
                    Date
                </th>
                <th width="20%">
                    Expediteur
                </th>
                <th>
                    Objet
                </th>
                <th class="text-right" width="10%">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for mail in inbox %}
                <tr>
                    <td>
                        {{ mail.date|date }}
                    </td>
                    <td>
                        {% if mail.sender.personal is defined %}
                            {{ mail.sender.personal }}
                        {% else %}
                            {{ mail.sender.mailbox~'@'~mail.sender.host }}
                        {% endif %}
                    </td>
                    <td>
                        {{ mail.subject }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button data-lien="{{ path('vente _scan_mail',{'index': mail.index}) }}" class="btn btn-xs btn-info scan">
                                <i class="ace-icon fa fa-search-plus bigger-120"></i>&nbsp;Scanner
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
