{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-sm-5">
        <h3><span class="ace-icon fa fa-money"></span>&nbsp;Tous les ventes</h3>
    </div>
    <div class="col-sm-7 text-right" style="padding-top: 20px">
        <div class="row">
            <div class="col-sm-offset-7 col-sm-5 text-right" style="padding-top: 20px">
                <div class="form-group">
                    <label for="client" class="col-sm-3 control-label" style="padding-top: 5px">Période</label>
                    <div class="col-sm-9">
                        <select id="periode2" class="form-control">
                            <option value="today"  >Aujourd'hui</option>
                            <option value="yesterday"  >Hier</option>
                            <option value="week"  >Cette semaine</option>
                            <option value="last_week"  >Semaine dernière</option>
                            <option value="month"  >Ce mois</option>
                            <option value="last_month"  >Mois dernier</option>
                            <option value="perso"  >Personaliser</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="date-perso" style="display: none; margin-top: 10px; margin-right: 13px !important;">
            <div class="col-sm-5">
                <div class="from-group">
                    <label for="" class="col-sm-3 control-label">Debut:</label>
                    <div class="col-sm-9">
                        <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Debut">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="from-group">
                    <label for="" class="col-sm-3 control-label">Fin:</label>
                    <div class="col-sm-9">
                        <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Fin">
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-default" id="findByPerso2" >
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab">
    <li class="onglet4" id="non-facture" data-cible="#liste-vente">
        <a href="{{ path('vente_list', {'active': 'non-facture'}) }}">Non Facturé</a>
    </li>
    <li class="onglet4" id="facture" data-cible="#liste-vente">
        <a href="{{ path('vente_list', {'active': 'facture'}) }}">Facturé</a>
    </li>
</ul>
<div class="tab-content" id="liste-vente">

</div>

<script>

    $('.onglet4').first().trigger('click');
</script>