{% set montant_fee = (vente.type == 'simple')? vente.classes.simple : vente.classes.allerRetour %}
{% set type_vol = (vente.type == 'simple')? 'Aller sipmle' : 'Aller-Retour' %}
{% set remboursable = (vente.remboursable)?'oui':'non' %}

<div class="row">
    <div class="col-sm-6">
        <h4 class="text"><strong style="text-decoration: underline">
                Numero du
                billet</strong>&nbsp;:&nbsp;{{ vente.numBillet }}&nbsp;/&nbsp;<strong
                    style="text-decoration: underline">Date</strong>&nbsp;:&nbsp; {{ vente.dateVente|date('d/m/Y') }}
        </h4>
    </div>
    <div class="col-sm-4">
        <h4 class="text"><strong style="text-decoration: underline">
                Unité monétaire</strong>&nbsp;:&nbsp; {{ vente.currency.codeIso }}/&nbsp;<strong
                    style="text-decoration: underline">Remboursable</strong>&nbsp;:&nbsp; {{ remboursable }}
        </h4>
    </div>
    <div class="col-sm-2 text-right">
        {#<button data-lien="{{ path('vente_facturer' , { 'id' : vente.id }) }}"
                class="btn btn-sm btn-success ajout"
                data-formtitle="Facturer la vente" data-mod="#gen">
            <i class="ace-icon fa fa-bank bigger-110"></i>
            Facturer
        </button>#}
        <button class="btn btn-info btn-sm retour" data-cible="{{ cible }}">
            <i class="ace-icon fa fa-reply bigger-110"></i>
            Retour
        </button>
    </div>
</div>

<hr class="marge-reduce">
<form action="" class="form-horizontal">
    <div class="row">
        <div class="col-sm-6 padding10">
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold"> Voyageur</label>
                <div class="col-sm-8">
                    <input type="text" disabled value="{{ vente.passager }}" class="form-control">
                </div>
            </div>
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold"> Service associées</label>
                <div class="col-sm-8">
                    <input type="text" disabled value="{{ vente.fees.libLong }}" class="form-control">
                </div>
            </div>
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold">Classe</label>
                <div class="col-sm-8">
                    <input type="text" disabled value="{{ vente.classes.classes }}" class="form-control">
                </div>
            </div>
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold">Type</label>
                <div class="col-sm-8">
                    <input type="text" disabled value="{{ type_vol }}" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-6 padding10">
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold">Montant du transport</label>
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        {{ vente.currency.codeIso }}
                    </span>
                    <input type="text" disabled value="{{ vente.totalMontantTransport|number_format(0,',',' ') }}"
                           class="form-control text-right">
                </div>
            </div>
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold">Taxe</label>
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        {{ vente.currency.codeIso }}
                    </span>
                    <input type="text" disabled value="{{ vente.taxe|number_format(0,',',' ') }}"
                           class="form-control text-right">
                </div>
            </div>
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold">Montant FEES</label>
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                    <input type="text" disabled value="{{ vente.feesTotal|number_format(0,',',' ') }}" class="form-control text-right">
                </div>
            </div>
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold">Montant TVA</label>
                <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                    {% set tva = montant_fee*20/100 %}
                    <input type="text" disabled value="{{ tva|number_format(0,',',' ') }}" class="form-control text-right">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 " style="padding-left: 50px;">
            <h5 style="text-decoration: underline"><strong>Les itinéraires</strong></h5>
        </div>
    </div>
    <div class="row">
        {% for parc in vente.parcours %}
            <div class="col-sm-6">
                <div class="form-group my-group">
                    <label class="col-sm-4 control-label bold">Lieu de départ</label>
                    <div class="col-sm-8">
                        <input type="text" disabled value="{{ parc.fromName }}" class="form-control">
                    </div>
                </div>

                <div class="form-group my-group">
                    <label class="col-sm-4 control-label bold">Destination</label>
                    <div class="col-sm-8">
                        <input type="text" disabled value="{{ parc.toName }}" class="form-control">
                    </div>
                </div>


                <div class="form-group my-group">
                    <label class="col-sm-4 control-label bold">Date</label>
                    <div class="col-sm-8">
                        <input type="text" disabled value="{{ parc.dateParcour|date("d-M-Y") }}" class="form-control">
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</form>