{% form_theme form
    'form/my_theme.html.twig'
    'paiement_theme.html.twig'
    'jquery.collection.html.twig' %}


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}',
                }, {
                    // settings
                    type: '{{ label }}',
                });
            </script>
            {#<div class="flash-{{ label }}">
                {{ message }}
            </div>#}
        {% endfor %}
    {% endfor %}


<div class="row">

    {{ form_start(form) }}
    <input type="hidden" name="idPays" value="{{ idPaiements }}">
    {{ form_end(form) }}
    <div class="col-sm-12">
        <div class="alert alert-info">
            Veuillez confimer la validation de ces paiements
        </div>
    </div>
    <div class="col-sm-12 text-center">
        <table class="table  table-bordered table-hover">
            <thead>
            <tr>
                <th width="10%">Date</th>
                <th width="35%">Client</th>
                <th width="15%">Les factures</th>
                <th width="12%">Montant</th>
                <th>Moyen de paiement</th>
            </tr>
            </thead>
            <tbody>
            {% for paiement in paiements %}
                {% set factures = paiement.factures %}
                <tr>
                    <td>
                        {#{% for class in fee.classes %}
                            {{ class.classes }}
                            {% if loop.last == false %}
                                <hr>
                            {% endif %}
                        {% endfor %}#}
                        {{ paiement.datePaiement|date('d/m/Y') }}
                    </td>
                    <td>
                        {{ paiement.client }}
                    </td>
                    <td>
                        <ul>
                            {% for facture in factures %}
                                <li>{{ facture.reference }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {{ paiement.montantTotal|number_format(0,',',' ') }}
                    </td>
                    <td>
                        {{ paiement.moyenPay.libelle }}
                        {% if paiement.moyenPay.libelle == 'Devise' %}
                            {{ '('~paiement.currency.libelle~')' }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

