{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-sm-4">
        <h3><span class="ace-icon fa fa-paypal"></span>&nbsp;Les Paiements</h3>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6 text-right" style="padding-top: 20px">
                <div class="form-group">
                    <label for="client" class="col-sm-3 control-label" style="padding-top: 5px">Période</label>
                    <div class="col-sm-9">
                        <select id="periode" class="form-control">
                            <option value="today"  >Aujourd'hui</option>
                            <option value="yesterday"  >Hier</option>
                            <option value="week"  >Cette semaine</option>
                            <option value="last_week"  >Semaine dernière</option>
                            <option value="month"  >Ce mois</option>
                            <option value="last_month"  >Mois dernier</option>
                            <option value="perso"  >Personaliser</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-right" style="padding-top: 20px">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="" style="padding-top: 5px"><strong>Clients:</strong></label>
                    <div class="col-sm-9">
                        <select class="form-control select2" name="" id="cli_id">
                            <option value="0">Tous</option>
                            {% for client in clients %}
                                <option value="{{ client.id }}"> {{ client }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="date-perso" style="display: none; margin-top: 10px; margin-right: 13px !important;">
            <div class="col-sm-5">
                <div class="from-group">
                    <label for="" class="col-sm-3 control-label">Debut:</label>
                    <div class="col-sm-9">
                        <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Debut">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="from-group">
                    <label for="" class="col-sm-3 control-label">Fin:</label>
                    <div class="col-sm-9">
                        <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Fin">
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-default" id="findByPerso" >
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab">
    <li class="onglet3" id="non_valide" data-cible="#liste-paiement">
        <a href="{{ path('paiement_list', {'etat': 'non-valide' }) }}">Non Valide</a>
    </li>
    <li class="onglet3" id="valide" data-cible="#liste-paiement">
        <a href="{{ path('paiement_list', {'etat': 'valide' }) }}">Valide</a>
    </li>
</ul>
<div class="tab-content" id="liste-paiement">

</div>

<script>

    $('.onglet3').first().trigger('click');
    $('.select2').css({ width: "100%" }).select2();
</script>