{% if paiements %}
    <table class="table  table-bordered table-hover">
        <thead>
        <tr>
            {% if type == 'non-valide' %}
                <th class="center" width="3%"></th>
            {% endif %}
            <th width="10%">Date</th>
            <th width="15%">Client</th>
            <th width="12%">Montant</th>
            <th width="15%">Mode de paiement</th>
            <th class="text-right" width="23%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                {% if type == 'non-valide' %}
                    <td>
                        <label class="pos-rel">
                            <input type="checkbox" value="{{ paiement.id }}" class="ace paiement-case">
                            <span class="lbl"></span>
                        </label>
                    </td>
                {% endif %}
                <td>
                    {#{% for class in fee.classes %}
                        {{ class.classes }}
                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    {% endfor %}#}
                    {{ paiement.datePaiement|date('d/m/Y') }}
                </td>
                <td>
                    {{ paiement.client }}
                </td>
                <td>
                    {{ paiement.montantRecu|number_format(0,',',' ') }}
                </td>
                <td>
                    {{ paiement.moyenPay.libelle }}
                    {% if paiement.moyenPay.libelle == 'Devise' %}
                        {{ '('~paiement.currency.libelle~')' }}
                    {% endif %}
                </td>

                <td class="text-right">
                    <div class="hidden-sm hidden-xs btn-group">
                        <button data-lien="{{ path('paiement_show',{'id' : paiement.id}) }}"
                                class="btn btn-xs btn-primary show-pay">
                            <i class="ace-icon fa fa-eye bigger-120"></i>
                        </button>
                        {% if paiement.scan is not null %}
                            <a target="_blank" href="{{ path('paiement_get_piece',{'id' : paiement.id}) }}"
                               class="btn btn-xs btn-pink">
                                <i class="fa fa-download"></i>
                            </a>
                        {% endif %}
                        {#{% if is_granted('ROLE_ADMIN') %}#}
                        <button data-lien="{{ path('paiement_modifier',{'id' : paiement.id}) }}"
                                class="btn btn-xs btn-purple ajout" data-formTitle="Modifier un paiement"
                                data-mod="#pay">
                            <i class="ace-icon fa fa-pencil-square bigger-120"></i>
                            &nbsp;Modifier
                        </button>
                        {#{% endif %}
                        {% if type == 'non-valide' and is_granted('ROLE_RECOUVREMENT') %}#}
                        {#{% endif %}
                        {% if is_granted('ROLE_ADMIN') %}#}
                        <button data-lien="{{ path('paiement_supprimer',{'id' : paiement.id}) }}"
                                class="btn btn-xs btn-danger ajout" data-formTitle="Supprimer un paiement"
                                data-mod="#gen">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            &nbsp;Supprimer
                        </button>
                        <a href="{{ path('paiement_get_recu',{'id' : paiement.id}) }}"
                           class="btn btn-xs btn-grey">
                            <i class="ace-icon fa fa-file-pdf-o bigger-120"></i>
                        </a>
                        {#{% endif %}#}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if type == 'non-valide' %}
        <div class="row">
            <div class="col-sm-3 text-right">
                Pour la selection:
            </div>
            <div class="col-sm-6 text-center">
                <button data-lien="{{ path('paiments_group_valid') }}" class="btn btn-sm btn-success "
                        id="group_valid">
                    <i class="ace-icon fa fa-check-circle-o"></i>
                    &nbsp;Valider
                </button>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas de paiement.
    </div>
{% endif %}


<div class="modal fade" id="facture_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="facture_modal_title">Valider les paiements</h4>

            </div>

            <div class="modal-body" id="facture_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="facture_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="facture_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="paiement_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="facture_modal_title">Valider les paiements</h4>

            </div>

            <div class="modal-body" id="facture_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="facture_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="facture_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>