<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}GESTI{% endblock %}</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/bootstrap.min.css' }}">
    <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/font-awesome.css' }}" type="text/css"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->

    <style>
        hr.red {
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid #8F0416;
            margin: 1em 0;
            padding: 0;
        }

        hr.separator {
            display: block;
            border: 0;
            border-top: 1px solid #555;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

</head>
<body style="font-size: 15px; padding-top: 15px;">

<div class="container">
    <div class="row text-center">
        <img height="100" alt="Domain Owner's Avatar"
             {% if ets.logo is null %}src="{{ 'http://statics.com/gesti/img/images.png' }}"{% else %} src="{{ 'http://statics.com/gesti/img_upload/'~ets.logo.filename }}"{% endif %} />
        <p class="text-center">EDEN GALLERY - Enceinte hotel Ibis - Rue Ravoninahitriniarivo Ankorondrano - ANTANANARIVO
            101 -Madagascar</p>
        <p class="text-center">Tel / Fax : (+261) 20 23 640 53 - E-mail : <a href="contact@hsmvoyages.com">contact@hsmvoyages.com</a>
        </p>
        <hr class="red">
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>
                <b style="text-decoration: underline">RECU DE PAIEMENT</b>
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-5 text-right" style="float: right">
            Date: {{ paiement.datePaiement|date('d/m/Y') }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <p><b>Reçu de</b> :{{ paiement.client }}</p>
            <p><b>La somme de</b> : {{ paiement.letter|upper }}&nbsp;ARIARY</p>
            <p>
                <b>Référence</b>:{{ paiement.moyenPay }}{% if paiement.moyenPay == 'Chèque' %}{{ ' N°: '~paiement.numCheque }}{% endif %}
            </p>
            <p><b>Motif:</b></p>
        </div>
    </div>
    <div class="row" style="padding: 15px !important;">
        <table class="table  table-bordered" style="font-size: 12px">
            <thead>
            <tr>
                <th width="15%">Facture</th>
                <th width="35%">Montant</th>
            </tr>
            </thead>
            <tbody>
            {% for paiementFacture in paiement.paiementFactures %}
                <tr>
                    <td>
                        {{ paiementFacture.facture.reference }}
                    </td>
                    <td>
                        {{ paiementFacture.totalPaiement }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


</body>
</html>
