<div class="row">
    <div class="col-sm-6">
        <h3 style="text-decoration: underline">Detail du paiement</h3>
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn btn-info btn-sm retour" data-cible="{{ cible }}">
            <i class="ace-icon fa fa-reply bigger-110"></i>
            Retour
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <h5 style="text-decoration: underline"><i class="fa fa-info-circle"></i>&nbsp;Information sur le paiement</h5>
        <div class="form-horizontal">
            <div id="PaiementType">
                <div class="form-group">
                    <label class="col-sm-6 control-label required" for="PaiementType_montantRecu">Montant</label>
                    <div class="col-sm-6">
                        <input
                                type="text"
                                id="PaiementType_montantRecu"
                                required="required"
                                class="acompte form-control"
                                value="{{ paiement.montantRecu }}"
                                disabled
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label required" for="PaiementType_moyenPay">Mode de paiement</label>
                    <div class="col-sm-6">
                        <input
                                type="text"
                                id="moyenPay"
                                data-idPay="{{ paiement.moyenPay.id }}"
                                value="{{ paiement.moyenPay.libelle }}"
                                class="form-control"
                                disabled
                        >
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="col-sm-6 control-label required" for="PaiementType_refOperation">Reference de l'opération</label>
                    <div class="col-sm-6">
                        <input
                                type="text"
                                id="PaiementType_refOperation"
                                value="{{ paiement.refOperation }}"
                                required="required"
                                class="carte form-control"
                                disabled
                        >
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="col-sm-6 control-label required" for="PaiementType_numCheque">Numéro du chèque</label>
                    <div class="col-sm-6">
                        <input
                                disabled
                                type="text"
                                id="PaiementType_numCheque"
                                value="{{ paiement.numCheque }}"
                                class="cheque form-control"
                        >
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="col-sm-6 control-label required" for="PaiementType_nomBanque">Nom de la banque</label>
                    <div class="col-sm-6">
                        <input
                                disabled
                                type="text"
                                id="PaiementType_nomBanque"
                                value="{{ paiement.nomBanque }}"
                                class="cheque form-control"
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 control-label required" for="PaiementType_datePaiement">Date de paiement</label>
                    <div class="col-sm-6">
                        <input
                                disabled
                                type="date"
                                id="PaiementType_datePaiement"
                                class="field form-control"
                                value="{{ paiement.datePaiement|date('Y-m-d') }}"
                        >
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="col-sm-6 control-label required" for="PaiementType_noteCredit">Note de credit</label>
                    <div class="col-sm-6">
                        <input
                                disabled
                                type="text"
                                class="form-control note-cred"
                                {% if (paiement.noteCredit is not null) %}
                                    value="{{ paiement.noteCredit.reference }} - {{ paiement.noteCredit.montant }}"
                                {% endif %}
                        >
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="col-sm-6 control-label required" for="PaiementType_avoir">Avoir</label>
                    <div class="col-sm-6">
                        <input
                                disabled
                                type="text"
                                class="form-control avoir"
                                {% if (paiement.avoir is not null) %}
                                    value="{{ paiement.avoir.reference }} - {{ paiement.avoir.montant|number_format(0,',',' ') }}"
                                {% endif %}
                        >
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="col-sm-6 control-label required" for="PaiementType_autreInfo">Autre info</label>
                    <div class="col-sm-6">
                        <input
                                type="text"
                                id="PaiementType_autreInfo"
                                value="{{ paiement.autreInfo }}"
                                disabled
                                class="autre form-control"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <h5 style="text-decoration: underline"><i class="fa fa-money"></i>&nbsp;Les factures</h5>
        {% for detail in paiement.paiementFactures %}
            <div class="form-inline">
                <div class="form-group">
                    <label class="col-sm-4">Facture n°:</label>
                    <div class="col-sm-8">
                        <input type="text" name="" id="" readonly value="{{ detail.facture.reference }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Montant:</label>
                    <div class="col-sm-8">
                        <input type="text" readonly value="{{ detail.montant|number_format(0,',',' ') }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script>
    $(document).on('change','#moyenPay', function () {
        var value = $(this).attr('data-idPay');

        if((value === "1") || (value === "4") ){
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
            /*$('.cheque').removeClass('field').parent().parent('.form-group').hide();*/
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else if (value === '2') {
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').addClass('field').parent().parent('.form-group').show();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else if (value === '3') {
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').addClass('field').parent().parent('.form-group').show();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
        } else if (value === '5'){
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            /*$('.cheque').removeClass('field').parent().parent('.form-group').hide();*/
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').addClass('field').parent().parent('.form-group').show();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else if (value === '6'){
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').addClass('field').parent().parent('.form-group').show();
            $('.acompte').removeClass('field').parent().parent('.form-group').hide();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else if (value === '7') {
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.avoir').addClass('field').parent().parent('.form-group').show();
            $('.acompte').removeClass('field').parent().parent('.form-group').hide();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else {
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
            $('.autre').addClass('field').parent().parent('.form-group').show();
        }
    });

    $('#moyenPay').trigger('change');

</script>