<div class="col-xs-12 col-sm-6">
    <div class="space visible-xs"></div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name"> Nom </div>

            <div class="profile-info-value">
                <span>{{ client.nom }}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> Prenom </div>

            <div class="profile-info-value">
                <span>{{ client.prenom }}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> Adresse </div>

            <div class="profile-info-value">
                <i class="fa fa-map-marker light-orange bigger-110"></i>
                <span>{{ client.adresse }}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> Mail </div>

            <div class="profile-info-value">
                <i class="fa fa-envelope light-orange bigger-110"></i>
                <span>{{ client.mail }}</span>
            </div>
        </div>

        {% for contact in client.contacts %}
            <div class="profile-info-row">
                <div class="profile-info-name"> {{ contact.description }} </div>

                <div class="profile-info-value">
                    <i class="fa fa-phone light-orange bigger-110"></i>
                    <span>{{ contact.contact }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>