{% extends 'layout_ajax.html.twig' %}
{% block boutton %}
    <button data-lien="{{ path('tiers_new',{'discriminator' : dicriminator}) }}" class="btn btn-primary ajout" data-formTitle="Ajouter un {{ dicriminator }}" data-mod="#gen">
        <i class="ace-icon fa fa-plus-circle"></i>
        Ajouter
    </button>
{% endblock %}
{% block ajax_content %}
    <ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab">
        {% if dicriminator == "client" %}
            <li class="onglet" id="personne" data-cible="#liste-tiers">
                <a href="{{ path("tiers_list", {'discriminator' : dicriminator, "type" : 'personne'}) }}">Particulier</a>
            </li>
            <li class="onglet" id="societe" data-cible="#liste-tiers">
                <a href="{{ path("tiers_list", {'discriminator' : dicriminator, "type" : 'societe'}) }}">Sociéte</a>
            </li>
        {% else %}
            <li class="onglet" id="personne" data-cible="#liste-tiers">
                <a href="{{ path("tiers_list", {'discriminator' : dicriminator, "type" : 'cie_ae'}) }}">Compagnie aériènne</a>
            </li>
            <li class="onglet" id="societe" data-cible="#liste-tiers">
                <a href="{{ path("tiers_list", {'discriminator' : dicriminator, "type" : 'agc_voy'}) }}">Agence de voyage</a>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content" id="liste-tiers">

    </div>
    <script>
        $('.onglet').first().trigger('click');
    </script>
{#    {% include 'client/list.html.twig' %}#}
{% endblock %}