{#{% set type_soc = type_soc|default(null) %}#}
{% set societe_type = type_soc|default(null) %}

{% if lesTiers %}
<table class="table  table-bordered table-hover">
    <thead>
    <tr>
        <th class="detail-col">Details</th>
        {% if (type == 'societe') %}
            <th>Dénomination</th>
        {% else %}
            <th>Nom</th>
            <th>Prenom</th>
        {% endif %}
        <th>Adresse</th>
        <th>Email</th>
        <th class="text-center" width="10%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for client in lesTiers %}
        <tr>
            <td class="center">
                <div class="action-buttons">
                    <a href="#" class="green bigger-140 show-details-btn" title="Voir Details">
                        <i class="ace-icon fa fa-angle-double-down"></i>
                        <span class="sr-only">Details</span>
                    </a>
                </div>
            </td>
            {% if (type == 'societe') %}
                <td>{{ client.raisonSociale }}</td>
            {% else %}
                <td>{{ client.nom|capitalize }}</td>
                <td>{{ client.prenom|capitalize }}</td>
            {% endif %}
            <td>{{ client.adresse }}</td>
            <td>{{ client.mail }}</td>
            <td class="text-center">
                <div class="hidden-sm hidden-xs btn-group">
                    {% if (societe_type == 'cie_ae') and (client.linked == false) %}
                        <button data-lien="{{ path('tiers_link',{'id' : client.id}) }}" class="btn btn-xs btn-round btn-info ajout" data-formTitle="Modifier un {{ client.discriminator }}" data-mod="#gen">
                            <i class="ace-icon fa fa fa-link bigger-120"></i>
                        </button>
                    {% elseif (societe_type == 'agc_voy') %}
                        <button data-lien="{{ path('tiers_ajouter_societe',{'id' : client.id}) }}" class="btn btn-xs btn-round btn-info ajout" data-formTitle="Modifier un {{ client.discriminator }}" data-mod="#gen">
                            <i class="ace-icon fa fa-plus bigger-120"></i>
                        </button>
                    {% endif %}
                    <button data-lien="{{ path('tiers_edit',{'discriminator' : client.discriminator,'id' : client.id}) }}" class="btn btn-xs btn-round btn-info ajout" data-formTitle="Modifier un {{ client.discriminator }}" data-mod="#gen">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </button>

                    <button data-lien="{{ path('tiers_confirm', {'id' : client.id}) }}" class="btn btn-xs btn-danger btn-round ajout" data-formTitle="Suppression de {{ client }}" data-mod="#gen_md">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>

                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                            <li>
                                <a data-lien="{{ path('tiers_edit',{'discriminator' : client.discriminator,'id' : client.id}) }}" class="tooltip-success ajout" data-rel="tooltip" title="Modifier">
                                    <span class="green">
                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a data-lien="{{ path('tiers_confirm',{'id' :client.id}) }}" class="tooltip-error ajout" data-rel="tooltip" title="Supprimer">
                                    <span class="red">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="detail-row">
            <td colspan="8">
                <div class="table-detail">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="text-center">
                                <img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{{ asset('img/images.png') }}" />
                                <br />
                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                    <div class="inline position-relative">
                                        <a class="user-title-label" >
                                            <i class="ace-icon fa fa-circle light-green"></i>
                                            &nbsp;
                                            <span class="white">
                                                {% if (type == 'societe') %}
                                                {{ client.raisonSociale}}
                                                {% else %}
                                                {{ client.nom|upper ~ client.prenom|capitalize}}
                                                {% endif %}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if (type == 'societe') %}
                            {% include 'admin/client/soc_detail.html.twig' %}
                        {% else %}
                            {% include 'admin/client/ind_detail.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas encore de {{ discriminator }}.
    </div>
{% endif %}

<script>
    /***************/
    $('.show-details-btn').on('click', function(e) {
        /*alert('click');*/
        e.preventDefault();
        $(this).closest('tr').next().toggleClass('open');
        $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
    });
    /***************/

</script>

