{%
    form_theme form
    'form/my_theme.html.twig'
    'contact-theme.html.twig'
    'jquery.collection.html.twig'
%}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">

    {{ form_start(form) }}
    <div class="col-sm-6">
        <div class="form-group my-group" {% if ((discriminator == 'fournisseurs') or (discriminator == 'generale') ) %} style="display: none;" {% endif %}>
            <label for="" class="col-sm-4 control-label"> Nature </label>
            <div class="col-sm-8">
                {{ form_widget(form.type) }}
            </div>
        </div>
        <div class="form-group my-group" {% if ((discriminator == 'fournisseurs') or (discriminator == 'generale') ) %} style="display: none;" {% endif %}>
            <label for="" class="col-sm-4 control-label"> Type de client </label>
            <div class="col-sm-8">
                {{ form_widget(form.typeCli) }}
            </div>
        </div>
        <div class="form-group my-group" {% if ((discriminator == 'client') or (discriminator == 'generale')) %} style="display: none;" {% endif %}>
            <label for="" class="col-sm-4 control-label"> Type </label>
            <div class="col-sm-8">
                {{ form_widget(form.typeSoc) }}
            </div>
        </div>
        {#{{ form_row(form.type) }}#}
        {{ form_row(form.raisonSociale) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.mail) }}
        {% if (discriminator == 'client') %}
            {{ form_row(form.auteCompte) }}
        {% elseif (discriminator == 'fournisseurs') %}
            {{ form_row(form.numCompte) }}
        {% endif %}

    </div>
    <div class="col-sm-6">
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.numNIF) }}
        {{ form_row(form.numStat) }}
        {{ form_row(form.numRcs) }}
        {{ form_row(form.numCIF) }}
        {{ form_row(form.dateCIF) }}
        <div class="form-group">
            <h5 class="text-muted grey" style="text-decoration: underline;">Contacts</h5>
            <div class="col-sm-12">
                {{ form_widget(form.contacts) }}
            </div>
        </div>
        {#{{ form_row(form.contacts) }}#}
    </div>
    {#        {{ form_widget(form) }}#}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    var discriminator = '{{ discriminator }}';
    $('#TiersType_type').trigger('change');
    $('.my-selector').collection({
        min: 1,
        allow_up: false,
        allow_down: false,
        allow_duplicate: false,
        add: '<a href="#" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-plus-circle"></i></a>',
        remove: '<a href="#" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-minus-circle"></i></a>',
        init_with_n_elements: 1

    });

    $(document).on("change", "#TiersType_typeSoc", function () {
        if ($(this).val() === 'Agence de voyage' ) {
            $('#TiersType_numCompte').removeClass('field').parent().parent('.form-group').hide();
        } else {
            $('#TiersType_numCompte').addClass('field').parent().parent('.form-group').show();
        }
    });

    $("#TiersType_typeSoc").trigger('change');
</script>

