<div class="col-xs-12 col-sm-9">
    <div class="space visible-xs"></div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name"> Dénomination </div>

            <div class="profile-info-value">
                <span>{{ client.raisonSociale }}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> NIF </div>

            <div class="profile-info-value">
                <span>{{ client.numNIF }}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> STAT </div>

            <div class="profile-info-value">
                <span>{{ client.numStat }}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> Adresse </div>

            <div class="profile-info-value">
                <i class="fa fa-map-marker light-orange bigger-110"></i>
                <span>{{ client.adresse }}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> Mail </div>

            <div class="profile-info-value">
                <i class="fa fa-envelope light-orange bigger-110"></i>
                <span>{{ client.mail }}</span>
            </div>
        </div>
        {% for contact in client.contacts %}
        <div class="profile-info-row">
            <div class="profile-info-name"> {{ contact.description }} </div>

            <div class="profile-info-value">
                <i class="fa fa-phone light-orange bigger-110"></i>
                <span>{{ contact.contact }}</span>
            </div>
        </div>
        {% endfor %}
        {% if (societe_type is defined and societe_type == 'agc_voy') %}
            <div class="profile-info-row">
                <div class="profile-info-name"> Compagnie </div>

                <div class="profile-info-value">
                    <i class="fa fa-group light-orange bigger-110"></i>
                    {% for cie in client.compagnies %}
                        <span>{{ cie }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>