
{% if noteCredits %}
    <table class="table table-bordered table-hover table-stripped">
        <thead>
        <tr>
            {% if id_cli == 0 %}
                <th>Client</th>
            {% endif %}
            <th>Reference</th>
            <th>Date</th>
            <th>Montant</th>
            {% if etat == 'non-paye' %}
                <th class="text-right">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for avoir in noteCredits %}
            <tr>
                {% if id_cli == 0 %}
                    <td>{{ avoir.client }}</td>
                {% endif %}
                <td>{{ avoir.reference }}</td>
                <td>{{ avoir.dateNOte|date('d/m/Y') }}</td>
                <td>{{ 'MGA '~avoir.montant }}</td>
                {% if etat == 'non-paye' %}
                    <td class="text-right">
                        <button data-lien="{{ path('notecredit_show', {'id': avoir.id}) }}" class="btn btn-xs btn-info ajout" data-formTitle="Modifier un frais d'acées" data-mod="#gen">
                            <i class="ace-icon fa fa-check-square bigger-120"></i>
                            Régler
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas de note de credit.
    </div>
{% endif %}


