{% extends 'base.html.twig' %}

{% block body %}
    <h1>NoteCredit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ noteCredit.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ noteCredit.montant }}</td>
            </tr>
            <tr>
                <th>Payed</th>
                <td>{% if entity.payed %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notecredit_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
