{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}
<div class="table-detail">
    <div class="row">
        <div class="col-sm-12 text-right" style="padding-bottom: 10px;">
            <button class="btn btn-info2 ajout" data-lien="{{ path("general_modif") }}" data-formTitle="modification de l'information génerale" data-mod="#gen">
                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                &nbsp;Modifier
            </button>
        </div>
        <br/>
        <div class="col-xs-12 col-sm-3">
            <div class="text-center">
                <img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" {% if client.logo is null %}src="{{ asset('img/images.png') }}"{% else %} src="{{ asset('img_upload/'~client.logo.filename) }}"{% endif %} />
                <br />
                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                    <div class="inline position-relative">
                        <a class="user-title-label" >
                            <i class="ace-icon fa fa-circle light-green"></i>
                            &nbsp;
                            <span class="white">
                                                {{ client }}
                                            </span>
                        </a>
                    </div>
                </div>
                <button class="btn btn-info2 btn-sm ajout" style="margin-top: 5px" data-lien="{{ path("general_modif_logo") }}" data-formTitle="modification du logo" data-mod="#logo">
                    <i class="ace-icon fa fa-pencil-square-o"></i>
                    &nbsp;Modifier le logo
                </button>
            </div>
        </div>
        {% include 'admin/client/soc_detail.html.twig' %}
    </div>
</div>