<div class="container-fluid row">
    <div id="preview-image" >
        <div class="thumbnail">
            <img  {% if client.logo is null %}src="{{ asset('img/images.png') }}"{% else %} src="{{ asset('img_upload/'~client.logo.filename) }}"{% endif %} alt="">
        </div>
    </div>
    <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <input id="upload_modif" required class="field form-control my-file" data-buttonBefore="true" type="file" name="file" {#id="file"#} data-iconName="glyphicon glyphicon-inbox" data-buttonText="Votre fichier" data-buttonName="btn-primary">
    </form>
</div>

<script>
    $('.my-file').ace_file_input({
        no_file:'Pas de fichier choisi ...',
        btn_choose:'Choisir',
        btn_change:'Changer',
        droppable:false,
        onchange:null,
        thumbnail:false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
    });
</script>
