<div class="row">
    <div class="col-sm-5">
        <h5><span class="ace-icon fa fa-area-chart"></span>&nbsp;Les données de la période</h5>
    </div>
    <div class="col-sm-7 text-right" style="padding-top: 20px">
        <div class="row">
            <div class="col-sm-7 text-left" style="padding-top: 20px;">
                <button data-cible="#bc" class="btn btn-sm btn-grey retour">
                    <i class="ace-icon fa fa-search"></i>
                    &nbsp;Aller à la liste des bons de commandes
                </button>
            </div>
            <div class="col-sm-5 text-right" style="padding-top: 20px">
                <div class="form-group">
                    <label for="client" class="col-sm-3 control-label" style="padding-top: 5px">Période</label>
                    <div class="col-sm-9">
                        <select id="periode5" data-cible="#liste-vente" data-path="{{ path('bc_tdb_list') }}" class="form-control">
                            <option value="week"  >Cette semaine</option>
                            <option value="last_week"  >Semaine dernière</option>
                            <option value="month"  >Ce mois</option>
                            <option value="last_month"  >Mois dernier</option>
                            <option value="perso"  >Personaliser</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="date-perso" style="display: none; margin-top: 10px; margin-right: 13px !important;">
            <div class="col-sm-5">
                <div class="from-group">
                    <label for="" class="col-sm-3 control-label">Debut:</label>
                    <div class="col-sm-9">
                        <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Debut">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="from-group">
                    <label for="" class="col-sm-3 control-label">Fin:</label>
                    <div class="col-sm-9">
                        <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Fin">
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-default" data-cible="#liste-vente" id="findByPersoTDB" data-path="{{ path('bc_tdb_list') }}">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="liste-vente">

</div>

<script>
    $('#periode5').trigger('change');
</script>