<div class="col-sm-12 infobox-container" style="padding-top: 20px;">
    <div class="infobox filled2 infobox-green">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-first-order"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ totalBc|number_format(0,',',' ') }}</span>
            <div class="infobox-content">Totale </div>
        </div>
    </div>
    <div class="infobox filled2 infobox-blue">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-send-o"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ totalBcEmis|number_format(0,',',' ') }}</span>
            <div class="infobox-content">Emis </div>
        </div>

    </div>
    <div class="infobox filled2 infobox-orange2">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-window-close"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ totalBcNonValide|number_format(0,',',' ') }}</span>
            <div class="infobox-content">Non valide  </div>
        </div>
    </div>
    <div class="infobox filled2 infobox-purple2">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-check-square"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ totalBctermine|number_format(0,',',' ') }}</span>
            <div class="infobox-content">Terminé </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="padding-top: 20px;">
    {% if bcs|length > 0 %}
        <div class="col-sm-4">
            <h4>Les bons de commande émis triés par compagnie aérienne</h4>
            {% set totalMontantsDesVentes = 0 %}
            {% set totalNombreDesVentes = 0 %}
            <table id="les_datas" class="table table-bordered table-stripped">
                <thead>
                <tr>
                    <td>Fournisseurs</td>
                    <td>Nombre</td>
                    <td>Montant</td>
                </tr>
                </thead>
                <tbody>
                {% for bc in bcs %}
                    <tr>
                        <td>{{ bc.raisonSociale }}</td>
                        <td>{{ bc.nombre }}</td>
                        <td>{{ bc.montant_total }}</td>
                    </tr>
                    {% set totalMontantsDesVentes = totalMontantsDesVentes + bc.montant_total %}
                    {% set totalNombreDesVentes = totalNombreDesVentes + bc.nombre %}
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ totalNombreDesVentes }}</td>
                    <td>{{ totalMontantsDesVentes }}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-sm-8">
            <div class="col-sm-12" id="chart-div2" style="height: 400px !important;"></div>


        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            Il n'y a pas encore de bon de commande pour cette periode.
        </div>
    {% endif %}
</div>

<script>
    var montants = {{ montant|raw }};
    var data = [];
    montants.forEach(function (elemnt) {
        data.push(parseInt(elemnt));
    });
    console.log(data);
    Highcharts.chart('chart-div2', {
        /*data: {
         table: 'les_datas'
         },*/
        chart: {
            type: 'column'
        },
        title: {
            text: 'Les bons de commande émis de la période par compagnie aérienne'
        },
        xAxis: {
            categories: {{ raisonSoc|raw }}
        },
        yAxis: {
            title: {
                text: 'Montant totale'
            }
        },
        series: [{
            name: 'Montant période',
            data: data
        }],
    });
</script>