{% extends 'layout_ajax.html.twig' %}

{% block ajax_content %}
    <ul class="nav nav-tabs padding-12 tab-color-blue" id="myTab">
        {#{% if dicriminator == "client" %}#}
        <li class="onglet" id="fees" data-cible="#list-tdb">
            <a href="{{ path("vente_tdb") }}">Les ventes</a>
        </li>
        {#{% endif %}#}
        <li class="onglet" id="tva" data-cible="#list-tdb">
            <a href="{{ path('paiement_tdb') }}">Paiement</a>
        </li>
        <li class="onglet" id="monaie" data-cible="#list-tdb">
            <a href="{{ path('bc_tdb_index') }}">Les bons de commande</a>
        </li>
        <li class="onglet" id="paiement" data-cible="#list-tdb">
            <a href="{{ path('facture_tdb') }}">Les factures</a>
        </li>
    </ul>
    <div class="tab-content" id="list-tdb">

    </div>
    <script>
        $('.onglet').first().trigger('click');
    </script>
    {#    {% include 'client/list.html.twig' %}#}
{% endblock %}