<div class="col-sm-12 infobox-container" style="padding-top: 20px;">
    <div class="infobox filled2 infobox-green">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-ticket"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ total.total }}</span>
            <div class="infobox-content">Totale </div>
        </div>
    </div>
    <div class="infobox filled2 infobox-blue">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-money"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ totalPayed }}</span>
            <div class="infobox-content">Payée </div>
        </div>

    </div>
    <div class="infobox filled2 infobox-orange2">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-window-close"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ totalannule }}</span>
            <div class="infobox-content">Annulée  </div>
        </div>
    </div>
    <div class="infobox filled2 infobox-purple2">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-square-o"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ totalnonPayed }}</span>
            <div class="infobox-content">Non payée </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="padding-top: 20px;">
    <h4>Les factures échues pour la période</h4>
    {% if factureEchu|length > 0 %}
        <div class="col-sm-12">
            <table id="les_datas" class="table table-bordered table-stripped">
                <thead>
                <tr>
                    <th width="15%">Reference</th>
                    <th width="10%" >Date</th>
                    <th width="15%" >Client</th>
                    <th width="15%" >Echéanche</th>
                    <th >Les billets</th>
                    <th >Net à payer</th>
                    <th>Solde</th>
                    <th>Payée</th>
                </tr>
                </thead>
                <tbody>
                {% for facture in factureEchu %}
                    <tr>
                        <td>{{ facture.reference }}</td>
                        <td>
                            {#{% for class in fee.classes %}
                                {{ class.classes }}
                                {% if loop.last == false %}
                                    <hr>
                                {% endif %}
                            {% endfor %}#}
                            {{facture.dateFacture|date('d/m/Y') }}
                        </td>
                        <td>
                            {{ facture.tier }}
                        </td>
                        <td>
                            {{ facture.dateEcheance|date('d/m/Y') }}
                        </td>
                        <td>
                            {% for vente in facture.ventes %}
                                {{ vente.numBillet }}
                                {% if loop.last == false %}
                                    <hr class="separator">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{ 'MGA '~facture.totalMontant|number_format(0,',',' ') }}
                        </td>
                        <td>
                            {{ 'MGA '~facture.solde|number_format(0,',',' ') }}
                        </td>
                        <td>
                            {{ 'MGA '~facture.totalPaiement|number_format(0,',',' ') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            Il n'y a pas encore de facture échu pour cette periode.
        </div>
    {% endif %}
</div>