<div class="col-sm-12 infobox-container" style="padding-top: 20px;">
    <div class="infobox filled infobox-green">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-credit-card"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ totalPaiement.total }}</span>
            <div class="infobox-content">Tous les paiements</div>
        </div>
    </div>
    <div class="infobox filled infobox-blue">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-check-square"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ nbpaiementValide }}</span>
            <div class="infobox-content">Paiement validé </div>
        </div>

    </div>
    <div class="infobox filled infobox-orange2">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-clock-o"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ nbpaiemenNonValide }}</span>
            <div class="infobox-content">Paiement non validé</div>
        </div>
    </div>
</div>
<div class="col-sm-12" style="padding-top: 20px;">
    <h4>Les paiements en attente de validation</h4>
    {% if paiements|length > 0 %}
        <div class="col-sm-12">
            <table id="les_datas" class="table table-bordered table-stripped">
                <thead>
                <tr>
                    <th width="15%">Factures</th>
                    <th width="15%" >Date</th>
                    <th width="15%" >Client</th>
                    <th >Montant</th>
                    <th >Mode de paiement</th>
                </tr>
                </thead>
                <tbody>
                {% for paiement in paiements %}
                    <tr>
                        <td>
                            {% for detail in paiement.paiementFactures %}
                                {{ detail.facture.reference }}
                            {% endfor %}
                        </td>
                        <td>
                            {#{% for class in fee.classes %}
                                {{ class.classes }}
                                {% if loop.last == false %}
                                    <hr>
                                {% endif %}
                            {% endfor %}#}
                            {{paiement.datePaiement|date('d/m/Y') }}
                        </td>
                        <td>
                            {{ paiement.client }}
                        </td>
                        <td>
                            {{ paiement.montantRecu|number_format(0,',',' ')  }}
                        </td>
                        <td>
                            {{ paiement.moyenPay.libelle }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            Il n'y a pas encore de paiement pour cette periode.
        </div>
    {% endif %}
</div>