<div class="col-sm-12 infobox-container" style="padding-top: 20px;">
    <div class="infobox filled infobox-green">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-shopping-cart"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ ventesTotal.nombre_vente }}</span>
            <div class="infobox-content">Vente Totales {% if ventesTotal.nombre_vente > 0 %}: <br/><b>MGA&nbsp;{{ ventesTotal.montant_total|number_format(0, '.', ' ') }}{% endif %}</b></div>
        </div>
    </div>
    <div class="infobox filled infobox-blue">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-paypal"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ ventesFacture.nombre_vente }}</span>
            <div class="infobox-content">Vente facturées {% if ventesFacture.nombre_vente > 0 %}: <br/><b>MGA&nbsp;{{ ventesFacture.montant_total|number_format(0, '.', ' ') }}{% endif %}</b></div>
        </div>

    </div>
    <div class="infobox filled infobox-orange2">
        <div class="infobox-icon">
            <i class="ace-icon fa fa-money"></i>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{ ventesNonFacture.nombre_vente }}</span>
            <div class="infobox-content">Vente non-facturées  {% if ventesNonFacture.nombre_vente > 0 %}: <br/><b>MGA&nbsp;{{ ventesNonFacture.montant_total|number_format(0, '.', ' ') }}{% endif %}</b></div>
        </div>
    </div>
</div>
<div class="col-sm-12" style="padding-top: 20px;">
    {% if ventes|length > 0 %}
        <div class="col-sm-4">
            <h4>Les billets émis par compagnie aériennes</h4>
            {% set totalMontantsDesVentes = 0 %}
            {% set totalNombreDesVentes = 0 %}
            <table id="les_datas" class="table table-bordered table-stripped">
                <thead>
                <tr>
                    <th class="text-center">Compagnie aériènne</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Montant</th>
                </tr>
                </thead>
                <tbody>
                {% for vente in ventes %}
                    <tr>
                        <td class="text-center">{{ vente.raisonSociale }}</td>
                        <td class="text-right">{{ vente.nombre_vente }}</td>
                        <td class="text-right">{{ vente.montant_total|number_format(0, '.', ' ') }}</td>
                    </tr>
                    {% set totalMontantsDesVentes = totalMontantsDesVentes + vente.montant_total %}
                    {% set totalNombreDesVentes = totalNombreDesVentes + vente.nombre_vente %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="text-center">Total</th>
                    <th class="text-right">{{ totalNombreDesVentes }}</th>
                    <th class="text-right">{{ totalMontantsDesVentes|number_format(0, '.', ' ') }}</th>
                </tr>
                </tfoot>
            </table>

        </div>
        <div class="col-sm-8">
            <div class="col-sm-12" id="chart-div1" style="height: 400px !important;"></div>


        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            Il n'y a pas encore de vente pour cette periode.
        </div>
    {% endif %}
</div>

<script>
    var montants = {{ montant|raw }};
    var data = [];
    montants.forEach(function (elemnt) {
        data.push(parseInt(elemnt));
    });
    console.log(data);
    Highcharts.chart('chart-div1', {
        /*data: {
            table: 'les_datas'
        },*/
        chart: {
            type: 'column'
        },
        title: {
            text: 'Les ventes de la période par compagnie aérienne'
        },
        xAxis: {
            categories: {{ raisonSoc|raw }}
        },
        yAxis: {
            title: {
                text: 'Montant totale'
            }
        },
        series: [{
            name: 'Montant période',
            data: data
        }],
    });
</script>