<div class="app-bar fixed-top dracula" data-role="appbar">
    <div class="app-bar-element place-right">
        <span class="dropdown-toggle"><span class="mif-cog"></span> Utilisateur</span>
        <div class="align-center app-bar-drop-container place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px; display: none;">
            {#<h3 class="text-light">Setting</h3>#}
            {#<ul class="unstyled-list fg-dark">
                <li><a href="" class="fg-white1 fg-hover-yellow"><i class="mif-user-md"></i>&nbsp;&nbsp;Profile</a></li>
                <li><a href="" class="fg-white3 fg-hover-yellow"><i class="mif-switch"></i>&nbsp;&nbsp;Deconnexion</a></li>
            </ul>#}
            {#<div class="grid">
                <div class="row cells2">
                    <div class="cell">
                        <a href="" class="fg-white1 fg-hover-yellow"><i class="mif-user-md"></i>&nbsp;&nbsp;Profile</a>
                    </div>
                    <div class="cell">
                        <a href="" class="fg-white3 fg-hover-yellow"><i class="mif-switch"></i>&nbsp;&nbsp;Quitter</a>
                    </div>
                </div>
            </div>#}
            <div class="row padding10">
                <img src="{{ asset('img/images.png') }}" alt="">
            </div>
            <div class="row">
                <button class="button small-button primary"><span class="mif-user-md"></span> Profile</button>
                <button class="button small-button danger"><a href="{{ path('fos_user_security_logout') }}" class="logout"><span class="mif-switch"></span> Quitter</a></button>
            </div>
        </div>
    </div>
    <div class="clearfix" style="width: 0;"></div>
    <nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;">
        <ul class="app-bar-pullmenubar hidden app-bar-menu"></ul>
    </nav>
</div>