<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}GESTI{% endblock %}</title>
    {% block stylesheets %}
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />

        <!-- page specific plugin styles -->

        <!-- text fonts -->
        <link rel="stylesheet" href="{{ asset('css/fonts.googleapis.com.css') }}" />
        {#<link rel="stylesheet" href="{{ asset('css/iconfont/material-icons.css') }}" />#}

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('css/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style" />

        {#<!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ asset('css/ace-part2.min.css') }}" class="ace-main-stylesheet" />
        <![endif]-->#}
        <link rel="stylesheet" href="{{ asset('css/ace-skins.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/ace-rtl.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/hsmv.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/chosen.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/autocomplete.css') }}" />
        <link rel="stylesheet" href="{{ asset('plugin/select2/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('plugin/charts/css/highcharts.css') }}" />
{#        <link rel="stylesheet" href="{{ asset('css/metro.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/metro-icons.css') }}" />#}
    {% endblock %}

    <style>
        hr.separator{
            display: block;
            border: 0;
            border-top: 1px solid #555;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

    <script src="{{ asset('js/ace-extra.min.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="skin-1" >

<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

    {% include "partial/head.html.twig" %}
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        {% include 'partial/sidebar.html.twig' %}
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content" id="contenue">
                    {% block body %}
                    <div class="row" >



                    </div><!-- /.row -->
                    {% endblock %}
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        {% include 'partial/footer.html.twig' %}

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    {% block javascripts %}
        <script type="application/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>

        <!-- <![endif]-->

        <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('js/jquery.mobile.custom.min.js') }}'>"+"<"+"/script>");
        </script>
        <script type="application/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
        <!-- page specific plugin scripts -->

        <!-- ace scripts -->
        <script type="application/javascript" src="{{ asset('js/ace-elements.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/ace-extra.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/ace.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/moment.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/general.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/validate.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/chosen.jquery.min.js') }}"></script>
        <script type="text/javascript" src={{ asset('js/jquery.collection.js') }} ></script>
        <script type="text/javascript" src={{ asset('plugin/select2/js/select2.min.js') }} ></script>
        <script type="text/javascript" src={{ asset('plugin/charts/highcharts.js') }} ></script>
        <script type="text/javascript">
            $('.my-selector').collection();
        </script>

    {% endblock %}
    <script type="text/javascript">
        function chargement(parameters){
            var selecteur = parameters.selecteur;
            var modal = parameters.modal;
            var url="{{ asset('img/Preloader.gif') }}";
            var html ="";
            if (modal === true){
                html = '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>';
            } else {
                html = "<div class='text-center'>"
                    +"<img width='6%' src='"+url+"' title='Chargement ...' alt='Chargement ...'/>"
                    +"</div>";
            }

            $(selecteur).html(html);

        }

        function basepath(){
            return "{{ app.request.basepath }}";
        }
    </script>


<div class="modal fade" id="logo_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="logo_modal_title">Modal title</h4>

            </div>

            <div class="modal-body" id="logo_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="logo_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="logo_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="pay_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="pay_modal_title">Payer les factures</h4>

            </div>

            <div class="modal-body" id="pay_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="pay_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="pay_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="pj_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="pj_modal_title">Modal title</h4>

            </div>

            <div class="modal-body" id="pj_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="pj_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="pj_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="bc_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="bc_modal_title">Modal title</h4>

            </div>

            <div class="modal-body" id="bc_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="bc_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button data-cible="#contenue" type="button" id="bc_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="gen_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="gen_modal_title">Modal title</h4>

            </div>

            <div class="modal-body" id="gen_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="gen_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="gen_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>

{# fin modal #}

{# modal generale md pour toute l'applivation #}

<div class="modal fade" id="gen_md_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="gen_md_modal_title">Modal title</h4>

            </div>

            <div class="modal-body" id="gen_md_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="gen_md_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="gen_md_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>

{# fin modal #}

{#Modal pour la consultation#}
<div class="modal fade" id="cli_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="cli_modal_title">Nouveau client</h4>

            </div>

            <div class="modal-body" id="cli_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="cli_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="cli_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>
{#fin modal consult#}


</body>
</html>
