{# FuzAppBundle:Advanced:contact-theme.html.twig #}

{% block ClassesType_row %}
    {% block ClassesType_label %}{% endblock %}

    {% block ClassesType_widget %}

        <div class="row">
            <div class="col-md-11" style="border-radius: 3px; padding-top: 5px;">
                {{ form_widget(form) }}
            </div>
            {#<div class="col-md-3">
                <a href="#" class="collection-remove btn btn-default" title="Delete fruit"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#" class="collection-add btn btn-default" title="Add fruit"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>#}
        </div>

    {% endblock %}
{% endblock %}
