<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}GESTI{% endblock %}</title>
    {% block stylesheets %}
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/bootstrap.min.css' }}" />
        <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/font-awesome.min.css' }}" type="text/css"/>

        <!-- page specific plugin styles -->

        <!-- text fonts -->

    {% endblock %}
    <style>
        hr.red{
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid #8F0416;
            margin: 1em 0;
            padding: 0;
        }
    </style>
</head>
<body style="font-size: 12px;">

<div class="container">
    <hr class="red">
    <div class="row text-center">
        <p class="text-center">Société Anonyme au capital de 400 000 000 Ariary</p>
        <p class="text-center">R.C.S 2002B00215 – Stat. 55 101 112 007 010 921 – N.I.F. 4000037742 – CIF 0016852DGI-B du 23/04/12</p>
    </div>
</div>

</body>
</html>

