{% block InfoVenteType_row %}
    {% block InfoVenteType_label %}{% endblock %}

    {% block InfoVenteType_widget %}

        <div class="row">
            <div class="col-md-12" style=" padding-top: 0px; margin: ">
                {{ form_widget(form) }}
            </div>
            {#<div class="col-md-3">
                <a href="#" class="collection-remove btn btn-default" title="Delete fruit"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#" class="collection-add btn btn-default" title="Add fruit"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>#}
        </div>

    {% endblock %}
{% endblock %}
