{% set title = title|default('Acceuil') %}
{% set icon = icon|default('fa fa-home') %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <script>
            $.notify({
                // options
                message: '{{ message }}'
            },{
                // settings
                type: '{{ label }}'
            });
        </script>
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="page-header">
    <div class="row">
        <div class="col-sm-4">
            <h1>
                <span class="{{ icon }}"></span>
                {{ title }}

                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    {% if description is defined %}
                    {{ description }}
                    {% endif %}
                </small>
            </h1>
        </div>
        <div class="col-sm-8 text-right">
            {% block boutton %}
            {% endblock %}
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">
    {% block ajax_content %}
    {% endblock %}
    </div>
</div>



