<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel='shortcut icon' type='image/x-icon' href='{{ asset('favicon.ico') }}' />

    <title>GESTI-Authetification</title>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="{{ asset('css/fonts.googleapis.com.css') }}" />

    <!-- ace styles -->
    <link rel="stylesheet" href="{{ asset('css/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style" />


    <link rel="stylesheet" href="{{ asset('css/ace-rtl.min.css') }}"- />
    <link rel="stylesheet" href="{{ asset('css/hsmv.css') }}" />

    <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>

</head>
<body class="login-layout">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-plane green"></i>
                            <span class="red">GESTI</span>
                            <span class="white" id="id-text2">Application</span>
                        </h1>
                        <h4 class="blue" id="id-company-text">&copy; HSMV</h4>
                    </div>


                    <div class="space-6"></div>

                    <div class="position-relative">
                        <!-- /.login-box -->
                        {% block body %}
                        {% endblock %}

                    </div><!-- /.position-relative -->

                    <!-- <div class="navbar-fixed-top align-right">
                        <br />
                        &nbsp;
                        <a id="btn-login-dark" href="#">Dark</a>
                        &nbsp;
                        <span class="blue">/</span>
                        &nbsp;
                        <a id="btn-login-blur" href="#">Blur</a>
                        &nbsp;
                        <span class="blue">/</span>
                        &nbsp;
                        <a id="btn-login-light" href="#">Light</a>
                        &nbsp; &nbsp; &nbsp;
                    </div> -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div>

<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write(
        '<script src=\'assets/js/jquery.mobile.custom.min.js\'>' + '<' + '/script>');
</script>
</body>
</html>