<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/metro.css') }}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/metro-colors.css') }}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/metro-icons.css') }}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/metro-schemes.css') }}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/metro-responsive.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        .login-form {
            width: 25rem;
            height: 18.75rem;
            position: fixed;
            top: 50%;
            margin-top: -9.375rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
    </style>

    <script>

        /*
         * Do not use this is a google analytics fro Metro UI CSS
         * */
        if (window.location.hostname !== 'localhost') {

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58849249-3', 'auto');
            ga('send', 'pageview');

        }


        $(function(){
            var form = $(".login-form");

            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        });
    </script>
</head>
<body class="bg-darkTeal">
{% block body %}
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/metro.js') }}"></script>
{% endblock %}
</body>
</html>
