<ul class="sidebar2 dark" style="margin-left: 10px">
    <li class="title"><span class="fa fa-sitemap icon"></span> Menu</li>

    <li class="stick bg-red menu" data-cible="#cell-content">
        <a href="{{ path('tdb_homepage') }}">
            <span class="mif-meter mif-ani-hover-shuttle icon"></span>
            <span class="title">Tableau de Bord</span>
        </a>
    </li>
    <li class="stick bg-yellow">
        <a  class="dropdown-toggle" href="#">
            <span class="mif-cart mif-ani-hover-shuttle icon"></span>
            <span class="title">Vente</span>
        </a>
        <ul class="d-menu bg-yellow" data-role="dropdown" style="display: none; ">
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="mif-credit-card icon"></span>
                    <span class="title">Liste des ventes</span>
                </a>
            </li>
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="mif-event-available icon"></span>
                    <span class="title">Les reservations</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="stick bg-green ">
        <a class="dropdown-toggle" href="#">
            <span class="mif-coins mif-ani-hover-shuttle icon"></span>
            <span class="title">Recouvrement</span>
            <span class="counter">0</span>
        </a>
        <ul class="d-menu bg-green" data-role="dropdown" style="display: none; ">
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="fa fa-shopping-bag icon"></span>
                    <span class="title">Clients</span>
                </a>
            </li>
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="mif-organization icon"></span>
                    <span class="title">Fournisseurs</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="stick bg-darkBlue">
        <a class="dropdown-toggle" href="#">
            <span class="fa fa-first-order mif-ani-hover-shuttle icon"></span>
            <span class="title">Bon de comande</span>
            <span class="counter">0</span>
        </a>
        <ul class="d-menu bg-darkBlue" data-role="dropdown" style="display: none; ">
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="fa fa-check-square icon"></span>
                    <span class="title">Validé</span>
                </a>
            </li>
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="fa fa-spinner icon"></span>
                    <span class="title">Non validé</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="stick bg-orange">
        <a href="#">
            <span class="mif-mail mif-ani-hover-shuttle icon"></span>
            <span class="title">Mail</span>
        </a>
    </li>
    <li class="stick bg-blue">
        <a class="dropdown-toggle" href="#">
            <span class="mif-wrench mif-ani-hover-shuttle icon"></span>
            <span class="title">Administration</span>
        </a>
        <ul class="d-menu bg-blue" data-role="dropdown" style="display: none; ">
            <li class="padded menu" data-cible="#cell-content">
                <a href="{{ path('client_index') }}">
                    <span class="fa fa-shopping-bag icon"></span>
                    <span class="title">Clients</span>
                </a>
            </li>
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="mif-organization icon"></span>
                    <span class="title">Fournisseurs</span>
                </a>
            </li>
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="fa fa-book icon"></span>
                    <span class="title">Comptabilité</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="stick bg-darkPink">
        <a class="dropdown-toggle" href="#">
            <span class="mif-cogs mif-ani-hover-shuttle icon"></span>
            <span class="title">Avancée</span>
        </a>
        <ul class="d-menu bg-darkPink" data-role="dropdown" style="display: none; ">
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="mif-history icon"></span>
                    <span class="title">Historique</span>
                </a>
            </li>
            <li class="padded menu" data-cible="#cell-content">
                <a href="{{ path('user_index') }}">
                    {#{{ path('user_index') }}#}
                    <span class="fa fa-user-plus icon"></span>
                    <span class="title">Utilisateurs</span>
                </a>
            </li>
            <li class="padded menu" data-cible="#cell-content">
                <a href="#">
                    <span class="fa fa-envelope-square icon"></span>
                    <span class="title">Mail</span>
                </a>
            </li>
        </ul>
    </li>
</ul>