{%
form_theme form
'contact-theme.html.twig'
'jquery.collection.html.twig'
%}


{% for label, messages in app.flashes %}
    {% for message in messages %}
        <script>
            $.notify({
                // options
                message: '{{ message }}'
            },{
                // settings
                type: '{{ label }}'
            });
        </script>
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}


    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

<script type="text/javascript">
    $('#TiersType_type').trigger('change');
    $('.my-selector').collection({
        min: 1,
        allow_up: false,
        allow_down: false,
        allow_duplicate: false,
        add: '<a href="#" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-plus-circle"></i></a>',
        remove: '<a href="#" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-minus-circle"></i></a>',
        init_with_n_elements: 1

    });
</script>

