{% block PayementFactureType_row %}
    {% block PayementFactureType_label %}{% endblock %}

    {% block PayementFactureType_widget %}

        <div class="row">
            <div class="col-md-12 form-inline" style=" padding-top: 0px;">
                {{ form_widget(form) }}
            </div>
        </div>

        {#<div class="col-md-3">
            <a href="#" class="collection-remove btn btn-default" title="Delete fruit"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add fruit"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>#}

    {% endblock %}

    <script>
        $('.select2').css({ width: "100%" }).select2();
    </script>
{% endblock %}