{% block preventeType_row %}
    {% block preventeType_label %}{% endblock %}

    {% block preventeType_widget %}

        <div class="{% if nbr == 1 %}col-md-6 {% else %} col-sm-12 {% endif %}" style=" padding-top: 0px;">
            {{ form_widget(form) }}
        </div>
        {#<div class="col-md-3">
            <a href="#" class="collection-remove btn btn-default" title="Delete fruit"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add fruit"><span class="glyphicon glyphicon-plus-sign"></span></a>
        </div>#}

    {% endblock %}
{% endblock %}
