{% extends 'base.html.twig' %}

{% block body %}
    <h1>TVA</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tVA.id }}</td>
            </tr>
            <tr>
                <th>Taux</th>
                <td>{{ tVA.taux }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tva_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
