
{% if avoirs %}
    <table class="table table-bordered table-hover table-stripped" id="frns-table">
        <thead>
        <tr>
            {% if id_cli == 0 %}
                <th>Client</th>
            {% endif %}
            <th>Reference</th>
            <th>Date</th>
            <th>Montant</th>
            <th>Les compagnies aériene</th>
        </tr>
        </thead>
        <tbody>
        {% for avoir in avoirs %}
            <tr>
                {% if id_cli == 0 %}
                    <td>{{ avoir.client }}</td>
                {% endif %}
                <td>{{ avoir.reference }}</td>
                <td>{{ avoir.dateAvoir|date('d/m/Y') }}</td>
                <td>{{ avoir.montant }}</td>
                <td>{{ avoir.cieVente }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row text-center">
        <button class="btn btn-app btn-success btn-xs" id="btnExport" onclick="tableToExcel('frns-table','rapport{{ 'now'|date('d-m-Y') }}')"><i class="ace-icon fa fa-file-excel-o"></i>Exporter</button>
    </div>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas d'avoir.
    </div>
{% endif %}

<script type="text/javascript">
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
        return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>

