<div class="alert alert-info">
    Veuillez valider pour confirmer l'activation de l'unité monétaire comme étant votre unité monétaire.
</div>
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
