{% for label, messages in app.flashes %}
    {% for message in messages %}
        <script>
            $.notify({
                // options
                message: '{{ message }}'
            },{
                // settings
                type: '{{ label }}'
            });
        </script>
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}
<div class="row">
    <div class="col-sm-8">
        <h3 class="text-muted">Les unités monétaires</h3>
    </div>
    <div class="col-sm-4 text-right">
        <button data-lien="{{ path('currency_new') }}" class="btn btn-primary ajout" data-formTitle="Ajouter un unité monétaire" data-mod="#gen_md">
            <i class="ace-icon fa fa-plus-circle"></i>
            Ajouter
        </button>
    </div>
</div>

    <table class="table  table-bordered table-hover">
        <thead>
            <tr>
                <th>Code iso</th>
                <th>Libelle</th>
                <th class="text-right" width="7%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>
                    {{ currency.codeIso }}
                    {% if (currency.active) %}
                        &nbsp;
                        <span class="text-success text-bold">
                            Unité monétaire actuel
                        </span>
                    {% endif %}
                </td>
                <td>{{ currency.libelle }}</td>
                <td class="text-right">
                    <div class="hidden-sm hidden-xs btn-group">
                        {% if currency.active == false %}
                            <button data-lien="{{ path('currency_confirm', {'code_iso' : currency.codeIso}) }}" class="btn btn-xs btn-success ajout" data-formTitle="Faire comme unité monétaire de base" data-mod="#gen_md">
                                <i class="ace-icon fa fa-check-square bigger-120"></i>
                            </button>
                        {% endif %}
                        <button data-lien="{{ path('currency_edit',{'code_iso' : currency.codeIso}) }}" class="btn btn-xs btn-info ajout" data-formTitle="Modifier un unité monétaire" data-mod="#gen_md">
                            <i class="ace-icon fa fa-pencil-square bigger-120"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


