{% extends 'base.html.twig' %}

{% block body %}
    <h1>Currency</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ currency.id }}</td>
            </tr>
            <tr>
                <th>Code_iso</th>
                <td>{{ currency.codeiso }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ currency.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('currency_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('currency_edit', { 'id': currency.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
