{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tiers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Raisonsociale</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Discriminator</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tier in tiers %}
            <tr>
                <td><a href="{{ path('tiers_show', { 'id': tier.id }) }}">{{ tier.id }}</a></td>
                <td>{{ tier.nom }}</td>
                <td>{{ tier.prenom }}</td>
                <td>{{ tier.raisonSociale }}</td>
                <td>{{ tier.adresse }}</td>
                <td>{{ tier.mail }}</td>
                <td>{{ tier.discriminator }}</td>
                <td>{{ tier.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tiers_show', { 'id': tier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tiers_edit', { 'id': tier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tiers_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
