{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tiers</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tier.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ tier.prenom }}</td>
            </tr>
            <tr>
                <th>Raisonsociale</th>
                <td>{{ tier.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ tier.adresse }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ tier.mail }}</td>
            </tr>
            <tr>
                <th>Discriminator</th>
                <td>{{ tier.discriminator }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ tier.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tiers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tiers_edit', { 'id': tier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
