{% for label, messages in app.flashes %}
    {% for message in messages %}
        <script>
            $.notify({
                // options
                message: '{{ message }}'
            },{
                // settings
                type: '{{ label }}'
            });
        </script>
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-sm-8">
        <h4 class="text-muted">Les frais de services</h4>
    </div>
    <div class="col-sm-4 text-right">
        <button data-lien="{{ path('fees_new') }}" class="btn btn-primary ajout" data-formTitle="Ajouter un fees" data-mod="#gen">
            <i class="ace-icon fa fa-plus-circle"></i>
            Ajouter
        </button>
    </div>
</div>
<br>
{% if fees %}

<table class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>RESEAU</th>
            <th>Classe</th>
            <th width="15%">Tarif simple</th>
            <th width="15%">Tarif aller retour</th>
            <th class="text-right" width="10%">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for fee in fees %}
        <tr>
            <td>{{ fee.libLong }}</td>
            <td>
                {% for class in fee.classes %}
                {{ class.classes }}
                {% if loop.last == false %}
                    <hr>
                {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for class in fee.classes %}
                    {{ 'MGA '~class.simple|number_format(0,',',' ') }}
                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for class in fee.classes %}
                    {{ 'MGA '~class.allerRetour|number_format(0,',',' ') }}
                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </td>
            <td class="text-right">
                <div class="hidden-sm hidden-xs btn-group">
                    <button data-lien="{{ path('fees_edit',{'id' : fee.id}) }}" class="btn btn-xs btn-info ajout" data-formTitle="Modifier un frais d'acées" data-mod="#gen">
                        <i class="ace-icon fa fa-pencil-square bigger-120"></i>
                    </button>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas encore de frais de service.
    </div>
{% endif %}

