{%
form_theme form
    'classes-theme.html.twig'
    'jquery.collection.html.twig'
%}


{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-sm-12">
        {{ form_start(form) }}
        {{ form_row(form.libCourt) }}
        {{ form_row(form.libLong) }}
        <div class="form-group">
            <h5 class="text-muted grey" style="text-decoration: underline;">Classes</h5>
            <div class="col-sm-12">
                {{ form_widget(form.classes) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>


</div>

<script type="text/javascript">
    $('.my-selector').collection({
        min: 1,
        allow_up: false,
        allow_down: false,
        allow_duplicate: false,
        add: '<a href="#" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-plus-circle"></i></a>',
        remove: '<a href="#" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-minus-circle"></i></a>',
        init_with_n_elements: 1

    });
</script>


