{% extends 'layout_ajax.html.twig' %}
{% block ajax_content %}
    <input type="hidden" id="path_journal" value="{{ path('compta_journal') }}">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-offset-6 col-sm-6 text-right" style="padding-top: 20px">
                    <div class="form-group">
                        <label for="client" class="col-sm-3 control-label" style="padding-top: 5px">Période</label>
                        <div class="col-sm-9">
                            <select id="periode4" class="form-control">
                                <option value="today"  >Aujourd'hui</option>
                                <option value="yesterday"  >Hier</option>
                                <option value="perso"  >Personaliser</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="date-perso2" style="display: none; margin-top: 10px; margin-right: 13px !important;">
                <div class="col-sm-5">
                    <div class="from-group">
                        <label for="" class="col-sm-3 control-label">Debut:</label>
                        <div class="col-sm-9">
                            <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Debut">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="from-group">
                        <label for="" class="col-sm-3 control-label">Fin:</label>
                        <div class="col-sm-9">
                            <input type="date" value="{{ today|date('Y-m-d') }}" class="form-control date" name="" id="Fin">
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-default" id="findByPersoCompta" >
                        <i class="fa fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px" id="liste-journal">

    </div>
    <script>
        $('#periode4').trigger('change');
    </script>
    {#    {% include 'client/list.html.twig' %}#}
{% endblock %}