{% if journals %}
    <div class="col-sm-12" id="dvData">
        <table id="table-compta" class="table table-bordered">
            <tbody>
            {% for journal in journals %}
                <tr>
                    <td>{{ journal.codeJournal }}</td>
                    <td>{{ journal.dateLigne|date('dmy') }}</td>
                    <td width="5%">
                        {{ journal.refSaisie }}
                    </td>
                    <td>
                        {{ journal.refFact }}
                    </td>
                    <td>
                        {{ journal.refBc }}
                    </td>
                    <td>
                        {{ journal.numCmpt }}
                    </td>
                    <td></td>
                    <td>
                        {{ journal.autrePlanCli }}
                    </td>
                    <td></td>
                    <td>
                        {{ journal.detail }}
                    </td>
                    <td>
                        {{ journal.mntDebit }}
                    </td>
                    <td>
                        {{ journal.mntCredit }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
    <div class="col-sm-12 text-center">
        <button class="btn btn-app btn-xs btn-success" id="btnExport" onclick="tableToExcel('table-compta','Journal-{{ dateDebutJ|date('d-m-Y') }}/{{ dateFinJ|date('d-m-Y') }}')"><i class="ace-icon fa fa-file-excel-o"></i>Exporter</button>
    </div>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas operation cette date.
    </div>
{% endif %}

<script type="text/javascript">
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
        return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>