{%
    form_theme form
    'form/biglabelTheme.html.twig'
    'payer.html.twig'
    'jquery.collection.html.twig'
%}

{% set facturer = facturer|default('non-facturer') %}


{{ form_start(form) }}

    {% if facturer == 'facturer' %}
        <input type="hidden" value="{{ idFactures }}" name="idFactures">
    {% endif %}
    <div class="row">
        <div class="col-sm-5">
            {{ form_row(form.montantRecu) }}
            {{ form_row(form.moyenPay) }}
            {{ form_row(form.refOperation) }}
            {{ form_row(form.numCheque) }}
            {{ form_row(form.nomBanque) }}
            {{ form_row(form.datePaiement) }}
            {{ form_row(form.montantDevise) }}
            {{ form_row(form.change) }}
            {{ form_row(form.noteCredit) }}
            {{ form_row(form.avoir) }}
            {{ form_row(form.currency) }}
            {{ form_row(form.autreInfo) }}
            {{ form_row(form.fileScan) }}
        </div>
        <div class="col-sm-7">
            {{ form_widget(form.paiementFactures) }}
        </div>
    </div>
{{ form_end(form) }}
<script>
    $('#PaiementType_facture').parent().parent('.form-group').hide();

    $('.my-selector').collection({
        min: 1,
        allow_up: false,
        allow_down: false,
        allow_duplicate: false,
        allow_remove: false,
        add: '<a href="#" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-plus-circle"></i></a>',
        remove: '<a href="#" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-minus-circle"></i></a>',
        init_with_n_elements: 1

    });

    $(document).on('change','#PaiementType_moyenPay', function () {
        var value = $(this).val();

        $('#PaiementType_montantRecu').removeProp('readonly');

        if((value === "1") || (value === "4") ){
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
            /*$('.cheque').removeClass('field').parent().parent('.form-group').hide();*/
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else if (value === '2') {
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').addClass('field').parent().parent('.form-group').show();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else if (value === '3') {
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').addClass('field').parent().parent('.form-group').show();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
        } else if (value === '5') {
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            /*$('.cheque').removeClass('field').parent().parent('.form-group').hide();*/
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').addClass('field').parent().parent('.form-group').show();
            $('#PaiementType_montantRecu').prop('readonly', 'true');
            $('.acompte').addClass('field').parent().parent('.form-group').show();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else if (value === '6') {
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').addClass('field').parent().parent('.form-group').show();
            $('.acompte').removeClass('field').parent().parent('.form-group').hide();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else if (value === '7') {
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.avoir').addClass('field').parent().parent('.form-group').show();
            $('.acompte').removeClass('field').parent().parent('.form-group').hide();
            $('.autre').removeClass('field').parent().parent('.form-group').hide();
        } else {
            $('.devise').removeClass('field').parent().parent('.form-group').hide();
            $('.carte').removeClass('field').parent().parent('.form-group').hide();
            $('.cheque').removeClass('field').parent().parent('.form-group').hide();
            $('.note-cred').removeClass('field').parent().parent('.form-group').hide();
            $('.avoir').removeClass('field').parent().parent('.form-group').hide();
            $('.acompte').addClass('field').parent().parent('.form-group').show();
            $('.autre').addClass('field').parent().parent('.form-group').show();
        }
    });
    $('#PaiementType_moyenPay').trigger('change');
    $(document).on('blur', '#PaiementType_montantDevise', function() {
        console.log(parseFloat($('#PaiementType_change').val()) > 1);
        if (parseFloat($('#PaiementType_change').val()) > 1) {
            var valeur = parseFloat($(this).val()) * parseFloat($('#PaiementType_change').val());
            console.log('valeur :', valeur);
            $('#PaiementType_montantRecu').val(valeur).trigger('change');
        }
    });
    $(document).on('blur', '#PaiementType_change', function() {
        console.log(parseFloat($('#PaiementType_change').val()) > 1);
        if (parseFloat($('#PaiementType_change').val()) > 1) {
            var valeur = parseFloat($(this).val()) * parseFloat($('#PaiementType_montantDevise').val());
            $('#PaiementType_montantRecu').val(valeur).prop('readonly', 'true').trigger('change');
        }
    });

    $(document).on('keyup blur', '.montant-facture', function() {

        if ($('#PaiementType_moyenPay').val() == '5') {
            var valeur = parseInt($(this).val());
            var montantRecu = parseInt($('#PaiementType_montantRecu').val());
            if (valeur > montantRecu) {
                alert('La montant saisie ne doit pas exceder la valeur de la mon,tant réçu!');
            } else {
                const montantFacture = $('.montant-facture');
                var totalValeur = 0;
                montantFacture.each(function() {
                    const valThis = ($(this).val() === '') ? 0 : parseInt($(this).val());
                    totalValeur += valThis;

                    if (valThis > montantRecu) {
                        const laValue = montantRecu;
                        $(this).val(montantRecu);
                    } else {
                        montantRecu -= valThis;
                    }

                });
            }
        } else {
            let montatRecu = 0;
            const montantFacture = $('.montant-facture');
            montantFacture.each(function() {
                const valeur = ($(this).val() === '') ? 0 : parseInt($(this).val());
                montatRecu = montatRecu + valeur;
            });
            $('#PaiementType_montantRecu').val(montatRecu);
        }
    });

    $(document).on('change', '#PaiementType_montantRecu', function() {
        const montantFacture = $('.montant-facture');
        let intVal = parseInt($(this).val());
        montantFacture.each(function() {
            const value = parseInt($(this).val());
            const diff = intVal - value;

            if (diff < 0) {
                if (intVal >= 0){
                    $(this).val(intVal);
                } else {
                    $(this).val('0');
                }
            } else {
                $(this).val(value);
            }
            intVal = diff;
        });
    });

    function getMontantNoteOrAvoir(typePlus, idPlus) {
        const url = '/avoir-note-montant/' + idPlus + '/' + typePlus;
        $.get(url, (data) => {
            return data.montant;
        });
    }
</script>