{%
form_theme form
'form/my_theme.html.twig'
'infoVente_type.html.twig'
'jquery.collection.html.twig'
%}


{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
            <script>
                $.notify({
                    // options
                    message: '{{ message }}'
                },{
                    // settings
                    type: '{{ label }}'
                });
            </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">

    {{ form_start(form) }}
    {{ form_widget(form.ventes) }}
    {{ form_end(form) }}
</div>