<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}GESTI{% endblock %}</title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/bootstrap.min.css' }}">
    <link rel="stylesheet" href="{{ 'http://statics.com/gesti/css/font-awesome.css' }}" type="text/css"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->

    <style>
        hr.red{
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid #8F0416;
            margin: 1em 0;
            padding: 0;
        }

        hr.separator{
            display: block;
            border: 0;
            border-top: 1px solid #555;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

</head>
<body style="font-size: 15px; padding-top: 15px;">

    <div class="container">
        <div class="row text-center">
            <img height="100" alt="Domain Owner's Avatar" {% if ets.logo is null %}src="{{ 'http://statics.com/gesti/img/images.png' }}"{% else %} src="{{ 'http://statics.com/gesti/img_upload/'~ets.logo.filename }}"{% endif %} />
            <hr class="red">
        </div>
        <div class="row">
            <div class="col-sm-5" style="float: left">
                <p class="text-center">EDEN GALLERY - Enceinte hotel Ibis</p>
                <p class="text-center">Rue Ravoninahitriniarivo Ankorondrano</p>
                <p class="text-center">ANTANANARIVO 101 -Madagascar</p>
                <p class="text-center">Tel / Fax : (+261) 20 23 640 53</p>
                <p class="text-center">E-mail : <a href="contact@hsmvoyages.com">contact@hsmvoyages.com</a></p>
            </div>
            <div class="col-sm-offset-2 col-sm-5" style="float: right">
                <p class="text-center">Antananarivo , {{ facture.dateFacture|date('d M Y') }}</p>
                <p class="">{{ 'Doit  : '~facture.tier }}</p>
                <p class="">{{ facture.tier.adresse }}</p>
                <p class="">{{ 'STAT  : '~facture.tier.numStat }}</p>
                <p class="">{{ 'NIF   : '~facture.tier.numNIF }}</p>

            </div>
        </div>
        <div class="row">
            <p style="padding: 15px">{{ 'FACTURE : '~facture.reference }}</p>

        </div>
        <div class="row" style="padding: 15px !important;">
            <table class="table  table-bordered" style="font-size: 12px">
                <thead>
                <tr>
                    <th width="15%">Numero billet</th>
                    <th width="15%">Passager</th>
                    <th width="35%">Parcours</th>
                    <th width="9%">Date</th>
                    <th width="13%">Transport</th>
                    <th width="13%">Taxe</th>
                </tr>
                </thead>
                <tbody>
                {% for vente in facture.ventes %}
                    <tr>
                        <td>
                            {{ vente.numBillet }}
                        </td>
                        <td>
                            {{ vente.passager }}
                        </td>
                        <td>
                            {% autoescape false %}
                                {{ vente.parcTown }}
                            {% endautoescape %}
                        </td>
                        <td>
                            {% autoescape false %}
                                {{ vente.parcDateMini }}
                            {% endautoescape %}
                        </td>
                        <td>
                            {{ 'MGA '~vente.montantTransport|number_format(0,',',' ') }}
                        </td>
                        <td>
                            {{ 'MGA '~vente.taxe|number_format(0,',',' ') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row" style="padding: 15px !important;">
            <table class="table  table-bordered" style="font-size: 12px">
                <thead>
                <tr>
                    <th width="20%">TRANSPORT</th>
                    <th width="20%">TAXE AEROPORTUAIRE</th>
                    <th width="20%">FRAIS DE SERVICE</th>
                    <th width="20%">TVA 20%</th>
                    <th width="20%">TOTAL</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ 'MGA '~facture.montantTransport|number_format(0,',',' ') }}
                        </td>
                        {#{{ facture.montantTva }}
                        {{ facture.totalMontant }}#}
                        <td>
                            {{ 'MGA '~facture.montantTaxe|number_format(0,',',' ') }}
                        </td>
                        <td>
                            {{ 'MGA '~facture.montantFees|number_format(0,',',' ') }}
                        </td>
                        <td>
                            {{ 'MGA '~facture.montantTva|number_format(0,',',' ') }}
                        </td>
                        <td>
                            {{ 'MGA '~facture.totalMontant|number_format(0,',',' ') }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-12">
                Arrêté la présente facture à la somme de:&nbsp; {{ facture.letter|upper }}&nbsp;ARIARY
            </div>
        </div>

        </div>
    {% if facture.paiementFactures.current %}
        <div class="row" style="padding: 15px !important;">
            <div class="col-sm-10">
                <table class="table table-bordered" style="font-size: 12px">
                    <thead>
                    <tr>
                        <th width="20%">Date de paiement</th>
                        <th width="20%">Ref avoir/Note de credit</th>
                        <th width="20%">Mode de paiement</th>
                        <th width="20%">Montant</th>
                        <th width="20%">Commmission</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for paiement in facture.paiementFactures %}
                        <tr>
                            <td>
                                {{ paiement.paiement.datePaiement|date('d/m/Y') }}
                    {#            {{ facture.paiements.current.datePaiement|date('d/m/Y') }}
                                {{  }}#}
                            </td>
                            <td>
                                {% if paiement.paiement.avoir != null %}
                                    {{ paiement.paiement.avoir.reference }}
                                {% elseif paiement.paiement.noteCredit != null %}
                                    {{ paiement.paiement.noteCredit.reference }}
                                {% endif %}
                            </td>

                            <td>
                                {{ paiement.paiement.moyenPay }}
                                {% if paiement.paiement.moyenPay.libelle == 'Devise' %}
                                    {{ '('~paiement.paiement.currency.libelle~')' }}
                                {% endif %}
                                {% if paiement.paiement.moyenPay == 'Chèque' %}
                                    {{ ' N°: '~paiement.paiement.numCheque }}
                                {% endif %}
                            </td>
                            <td>
                                {% if paiement.paiement.moyenPay == 'Devise' %}
                                    {{ paiement.paiement.currency.codeIso ~ ' ' ~paiement.montantDevise|number_format(0,',',' ') }}
                                {% else %}
                                    {{ 'MGA '~paiement.totalPaiement|number_format(0,',',' ') }}
                                {% endif %}
                            </td>
                            <td>
                                {{ 'MGA '~paiement.commission|number_format(0,',',' ') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    </div>

</body>
</html>
