{% if factures %}
<table class="table  table-bordered table-hover">
    <thead>
    <tr>
        <th width="10%">Reference</th>
        <th width="10%" >Date</th>
        <th >Client</th>
        <th >Net à payer</th>
        <th class="text-right" width="17%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for facture in factures %}
        <tr>
            <td>{{ facture.reference }}</td>
            <td>
                {#{% for class in fee.classes %}
                    {{ class.classes }}
                    {% if loop.last == false %}
                        <hr>
                    {% endif %}
                {% endfor %}#}
                {{facture.dateFacture|date('d/m/Y') }}
            </td>
            <td>
                {{ facture.tier }}
            </td>

            <td>
                {{ 'MGA '~facture.totalMontant|number_format(0,',',' ') }}
            </td>
            <td class="text-right">
                <div class="hidden-xs btn-group">
                    <button data-toggle="tooltip" data-placement="bottom" title="Voir" data-lien="{{ path('facture_show',{'id' : facture.id}) }}" class="btn btn-xs btn-primary show-fact" data-formTitle="Modifier un frais d'acées" data-mod="#gen">
                        <i class="ace-icon fa fa-eye bigger-120"></i>
                    </button>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas encore de facture.
    </div>
{% endif %}