{% if factures %}
    <table class="table  table-bordered table-hover">
        <thead>
        <tr>
            {% if etat == 'non-paye' %}
                <th class="center">
                </th>
            {% endif %}
            <th width="10%">Reference</th>
            <th width="10%" >Date</th>
            <th >Client</th>
            {% if etat == 'non-paye' %}
            <th>Echeance</th>
            {% endif %}
            <th >Les billets</th>
            <th >Net à payer</th>
            {% if etat == 'non-paye' %}
                <th>Payée</th>
                <th>Solde</th>
            {% endif %}
            <th class="text-right" width="13%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                {% if etat == 'non-paye' %}
                    <td>
                        <label class="pos-rel">
                            <input type="checkbox" value="{{ facture.id }}" class="ace facture-case">
                            <span class="lbl"></span>
                        </label>
                    </td>
                {% endif %}
                <td>{{ facture.reference }}</td>
                <td>
                    {#{% for class in fee.classes %}
                        {{ class.classes }}
                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    {% endfor %}#}
                    {{facture.dateFacture|date('d/m/Y') }}
                </td>
                <td>
                    {{ facture.tier }}
                </td>
                {% if etat == 'non-paye' %}
                    <td>
                        {{ facture.dateEcheance|date('d/m/Y') }}
                    </td>
                {% endif %}
                <td>
                    {% for vente in facture.ventes %}
                        {{ vente.numBillet }}
                        {% if loop.last == false %}
                            <hr class="separator">
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ 'MGA '~facture.totalMontant|number_format(0,',',' ') }}
                </td>
                {% if etat == 'non-paye' %}
                    <td>
                        {{ 'MGA '~facture.totalPaiement|number_format(0,',',' ') }}
                    </td>
                    <td>
                        {{ 'MGA '~facture.solde|number_format(0,',',' ') }}
                    </td>
                {% endif %}
                <td class="text-right">
                    <div class="hidden-xs btn-group">
                        <button id="show-{{ facture.id }}" data-toggle="tooltip" data-placement="bottom" title="Voir" data-lien="{{ path('facture_show',{'id' : facture.id}) }}" class="btn btn-xs btn-primary show-fact" data-formTitle="Modifier un frais d'acées" data-mod="#gen">
                            <i class="ace-icon fa fa-eye bigger-120"></i>
                        </button>
                        {% if facture.scan is null %}
                        <button data-toggle="tooltip" data-placement="bottom" title="Ajouter une pièce jointe" class="btn btn-xs btn-pink ajout" data-lien="{{ path("facture_add_piece", {'id': facture.id}) }}" data-formTitle="Ajouter une pièce" data-mod="#pj">
                            <i class="ace-icon fa fa-cloud-upload bigger-120"></i>
                        </button>
                        {% endif %}
                        {#
                            <button data-toggle="tooltip" data-placement="bottom" title="Ajouter paiement" data-lien="{{ path('facture_add_pay',{'id' : facture.id}) }}" class="btn btn-xs btn-success ajout" data-formTitle="Ajouter un paiement à la facture {{ facture.reference }}" data-mod="#pay">
                                <i class="ace-icon fa fa-paypal bigger-120"></i>
                            </button>
                        #}
                        {% if facture.totalPaiement == 0 and etat != 'payee' %}
                            <button data-toggle="tooltip" data-placement="bottom" title="Annuler" data-lien="{{ path('facture_confirm',{'id' : facture.id}) }}" class="btn btn-xs btn-warning ajout" data-formTitle="Annuler la facture {{ facture.reference }}" data-mod="#gen_md">
                                <i class="ace-icon fa fa-close bigger-120"></i>
                            </button>
                        {% endif %}
                        {% if etat != 'annule' %}
                            <a data-toggle="tooltip" data-placement="bottom" title="Imprimer PDF" target="_blank" href="{{ path('facture_pdf',{'id' : facture.id}) }}" class="btn btn-xs btn-default" data-formTitle="Modifier un frais d'acées" data-mod="#gen">
                                <i class="ace-icon fa fa-file-pdf-o bigger-120"></i>
                            </a>
                        {% endif %}

                        {#                        {% if facture.remboursable != 0 and facture.montatRembourse == 0 and is_granted('ROLE_ADMIN') %}#}
                        {% if facture.remboursable != 0 and facture.montatRembourse == 0 and is_granted('ROLE_ADMIN') %}
                            <button data-toggle="tooltip" data-placement="bottom" title="Rembourser" data-lien="{{ path('facture_remboursement',{'id' : facture.id}) }}" class="btn btn-xs btn-purple ajout" data-formTitle="Effectuer un remboursemment sur la facture {{ facture.reference }}" data-mod="#gen_md">
                                <i class="ace-icon fa fa-mail-reply"></i>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if etat == 'non-paye' %}
        <div class="row">
            <div class="col-sm-3 text-right">
                Pour la selection:
            </div>
            <div class="col-sm-6 text-center">
                <button data-lien="{{ path('facture_groupe_paiement') }}" class="btn btn-lg btn-success " id="group_paiement">
                    <i class="ace-icon fa fa-paypal bigger-120"></i>
                    &nbsp;Payer
                </button>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas encore de facture.
    </div>
{% endif %}
