
<div class="row">
    <div class="col-sm-6">
        <h3>Detail de la facture</h3>
    </div>
    <div class="col-sm-6 text-right">

        <a target="_blank" href="{{ path('facture_pdf',{'id' : facture.id}) }}" class="btn btn-sm btn-default">
            <i class="fa fa-file-pdf-o"></i>
            &nbsp;Obtenir pdf
        </a>
        {% if facture.scan is null %}
            <button data-toggle="tooltip" data-placement="bottom" title="Ajouter une pièce jointe" class="btn btn-sm btn-pink ajout" data-lien="{{ path("facture_add_piece", {'id': facture.id}) }}" data-formTitle="Ajouter une pièce" data-mod="#pj">
                <i class="ace-icon fa fa-cloud-upload bigger-120"></i>
                Ajouter une pièce jointe
            </button>
        {% else %}
            <a target="_blank"  href="{{ path('facture_get_piece',{'id' : facture.id}) }}" class="btn btn-sm btn-pink">
                <i class="fa fa-download"></i>
                &nbsp;Obtenir pièce jointe
            </a>
        {% endif %}
        <button class="btn btn-info btn-sm retour" data-cible="{{ cible }}">
            <i class="ace-icon fa fa-reply bigger-110"></i>
            Retour
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 padding10">
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold"> Réference</label>
            <div class="col-sm-8 input-group">
                <input type="text" disabled value="{{ facture.reference }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Date</label>
            <div class="col-sm-8 input-group">
                <input type="text" disabled value="{{ facture.dateFacture|date("d/m/Y") }}" class="form-control text-right">
            </div>
        </div>
        {% if cible == '#non-paye' %}
            <div class="form-group my-group">
                <label class="col-sm-4 control-label bold">Echéance</label>
                <div class="col-sm-8 input-group">
                    <input type="text" disabled value="{{ facture.dateEcheance|date("d/m/Y") }}" class="form-control text-right">
                </div>
            </div>
        {% endif %}
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Client</label>
            <div class="col-sm-8 input-group">
                <input type="text" disabled value="{{ facture.tier }}" class="form-control text-right">
            </div>
        </div>
    </div>
    <div class="col-sm-6 padding10">
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Total FEES</label>
            <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                <input type="text" disabled value="{{ facture.montantFees|number_format(0,',',' ') }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Total transport</label>
            <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                <input type="text" disabled value="{{ facture.montantTransport|number_format(0,',',' ') }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Total taxe</label>
            <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                <input type="text" disabled value="{{ facture.montantTaxe|number_format(0,',',' ') }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">TVA</label>
            <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                <input type="text" disabled value="{{ facture.montantTva|number_format(0,',',' ') }}" class="form-control text-right">
            </div>
        </div>
        <div class="form-group my-group">
            <label class="col-sm-4 control-label bold">Total de la facture</label>
            <div class="col-sm-8 input-group">
                    <span class="input-group-addon">
                        MGA
                    </span>
                <input type="text" disabled value="{{ facture.totalMontant|number_format(0,',',' ') }}"
                       class="form-control text-right">
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 15px !important;">
    <table class="table  table-bordered table-hover">
        <thead>
        <tr>
            <th width="15%">Numero billet</th>
            <th width="10%">Compagnie aériènne</th>
            <th width="20%">Passager</th>
            <th width="25%">Parcours</th>
            <th width="10%">Date</th>
            <th width="10%">Transport</th>
            <th width="10%">Taxe</th>
        </tr>
        </thead>
        <tbody>
        {% for vente in facture.ventes %}
            <tr>
                <td>
                    {{ vente.numBillet }}
                </td>
                <td>
                    {{ vente.compagieAerienne }}
                </td>
                <td>
                    {{ vente.passager }}
                </td>
                <td>
                    {% autoescape false %}
                        {{ vente.parcTown }}
                    {% endautoescape %}
                </td>

                <td>
                    {% autoescape false %}
                        {{ vente.parcDate }}
                    {% endautoescape %}
                </td>

                <td>
                    {{ 'MGA '~vente.montantTransport|number_format(0,',',' ') }}
                </td>
                <td>
                    {{ 'MGA '~vente.taxe|number_format(0,',',' ') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row" style="padding: 15px !important;">
    <table class="table  table-bordered table-hover">
        <thead>
        <tr>
            <th width="20%">Date de paiement</th>
            <th width="20%">Reference avoir/Note de credit</th>
            <th width="20%">Mode de paiement</th>
            <th width="20%">Montant</th>
            <th width="20%">Commission</th>

        </tr>
        </thead>
        <tbody>
        {% for paiement in facture.paiementFactures %}
            <tr>
                <td>
                    {{ paiement.paiement.datePaiement|date('d/m/Y') }}
                </td>
                <td>
                    {% if paiement.paiement.avoir != null %}
                        {{ paiement.paiement.avoir.reference }}
                    {% elseif paiement.paiement.noteCredit != null %}
                        {{ paiement.paiement.noteCredit.reference }}
                    {% endif %}
                </td>
                <td>
                    {{ paiement.paiement.moyenPay }}
                    {% if paiement.paiement.moyenPay == 'Chèque' %}
                        {{ ' N°: '~paiement.paiement.numCheque }}
                    {% endif %}

                    {% if paiement.paiement.moyenPay == 'Autre' %}
                        <br/>
                        <b> Detail: </b>{{ paiement.paiement.autreInfo }}
                    {% endif %}
                </td>
                <td>
                    {% if paiement.paiement.moyenPay == 'Devise' %}
                        {{ paiement.paiement.currency.codeIso ~ ' ' ~paiement.montantDevise|number_format(0,',',' ') }}
                    {% else %}
                        {{ 'MGA '~paiement.totalPaiement|number_format(0,',',' ') }}
                    {% endif %}
                </td>
                <td>
                    {{ 'MGA '~paiement.commission|number_format(0,',',' ') }}
                </td>
            </tr>
        {% else %}
            <div class="alert alert-warning text-center">
                Il n'y a pas de paiement.
            </div>
        {% endfor %}
        </tbody>
    </table>
</div>