
{# Edit Mdp Modal#}

<div class="modal fade" id="edit_mdp_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     style="padding-top:5%; overflow-y:visible;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">

                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title">Modifier mot de passe</h4>

            </div>

            <div class="modal-body" id="edit_mdp_modal_body">

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-danger" id="edit_mdp_modal_discard" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Annuler
                </button>
                <button type="button" id="edit_mdp_modal_save" class="btn btn-primary">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;Valider
                </button>

            </div>

        </div>
    </div>
</div>


<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder">GESTI</span>
                &nbsp;
                Application &copy; HSMV 2017
            </span>
        </div>
    </div>
</div>