<div id="navbar" class="navbar navbar-default     navbar-fixed-top     ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="{{ path('homepage') }}" class="navbar-brand">
                <small>
                    <i class="fa fa-plane green"></i>
                    GESTI Application
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue dropdown-modal user-min">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="{{ asset('images/avatars/avatar2.png') }}" alt="Jason's Photo" />
                        <span class="user-info">
                            <small>Bienvenue,</small>
                            {% if app.user %}
                                {{ app.user.username }}
                            {% else %}
                                Tongasoa
                            {% endif %}
                        </span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="{{ path('app_modif_password') }}" class="edit_mdp" id="edit_mdp">
                                <i class="ace-icon fa fa-user"></i>
                                Profile
                            </a>
                        </li>

                        {#<li class="divider"></li>#}

                        <li>
                            <a href="{{ path('app_logout') }}">
                                <i class="ace-icon fa fa-power-off"></i>
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>