<div id="sidebar" class="sidebar                  responsive                   ace-save-state sidebar-fixed sidebar-scroll">
    <script type="text/javascript">
        try{ace.settings.loadState('sidebar')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <h4 style="color: whitesmoke;"><span class="icon fa fa-sitemap"></span> &nbsp;&nbsp;Menu</h4>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="menu">
            <a href="{{ path('tdb_homepage') }}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Tableau de bord </span>
            </a>

            <b class="arrow"></b>
        </li>
        {% endif %}
        <li class="parent" id="etat">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-calendar-plus-o"></i>
                <span class="menu-text">
								Etat
							</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="menu" data-parent="#etat" id="bc-etat">
                    <a href="{{ path('bc_etat_index') }}">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text">Les bons de commandes </span>

                        <b class="arrow"></b>
                    </a>
                </li>
                {% endif %}

                <li class="menu" data-parent="#etat" id="vente-etat">
                    <a href="{{ path('etat_vente_index') }}">
                        <i class="menu-icon fa fa-shopping-cart"></i>
                        Les ventes
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="menu" data-parent="#etat" id="facture-etat">
                    <a href="{{ path('etat_facture_index') }}">
                        <i class="menu-icon fa fa-credit-card-alt"></i>
                        Les factures
                    </a>

                    <b class="arrow"></b>
                </li>
                {% if is_granted('ROLE_RECOUVREMENT') %}
                <li class="menu" data-parent="#etat" id="vente-etat">
                    <a href="{{ path('etat_paiement_index') }}">
                        <i class="menu-icon fa fa-paypal"></i>
                        Les paiements
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="menu" data-parent="#etat" id="avoir-etat">
                    <a href="{{ path('etat_avoir_index') }}">
                        <i class="menu-icon fa fa-thumb-tack"></i>
                        Les avoirs
                    </a>

                    <b class="arrow"></b>
                </li>
                {% endif %}

            </ul>
        </li>

        {% if is_granted('ROLE_VENTE') %}
        <li class="parent" id="vente">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bar-chart-o"></i>
                <span class="menu-text">
								Ventes
							</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">

                <li class="menu" data-parent="#vente" id="bc">
                    <a href="{{ path('bc_index') }}">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text">Les bons de commandes </span>

                        <b class="arrow"></b>
                    </a>
                </li>

                <li class="menu" data-parent="#vente" id="new_vente">
                    <a href="{{ path('vente_nouveau') }}">
                        <i class="menu-icon fa fa-plus-square-o"></i>
                        Nouvelle vente
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="menu" data-parent="#vente" id="list_vente">
                    <a href="{{ path('vente_index') }}">
                        <i class="menu-icon fa fa-credit-card"></i>
                        Liste des ventes
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_VENTE') or is_granted('ROLE_RECOUVREMENT') %}

        <li class="menu" id="list_fac">
            <a href="{{ path('facture_index') }}">
                <i class="menu-icon fa fa-paypal"></i>
                <span class="menu-text">Les factures</span>
            </a>

            <b class="arrow"></b>
        </li>
        {% endif %}

        {% if is_granted('ROLE_RECOUVREMENT') %}
        <li class="menu" id="list_pay">
            <a href="{{ path('paiement_index') }}">
                <i class="menu-icon fa fa-credit-card"></i>
                <span class="menu-text">Les paiement clients</span>
            </a>

            <b class="arrow"></b>

        </li>
        <li class="parent" id="reglement">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-text"> Réglement </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="menu" data-parent="#reglement" id="rglt_frns">
                    <a href="{{ path('fournisseur_reglement_index') }}">
                        <i class="menu-icon fa fa-paypal"></i>
                        Fournisseurs
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="menu" data-parent="#reglement" id="list_pay">
                    <a href="{{ path('avoir_index') }}">
                        <i class="menu-icon fa fa-credit-card"></i>
                        Les avoirs
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="menu" data-parent="#reglement" id="list_pay">
                    <a href="{{ path('notecredit_index') }}">
                        <i class="menu-icon fa fa-credit-card"></i>
                        Les notes de credits
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if is_granted('ROLE_COMPTA') %}
        <li class="menu" id="comptabilite">
            <a href="{{ path('compta_index') }}">
                <i class="menu-icon fa fa-book"></i>
                <span class="menu-text">Comptabilité</span>
            </a>

            <b class="arrow"></b>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="parent" id="admin">
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-cogs"></i>
                <span class="menu-text"> Administration </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="menu" data-parent="#admin" id="client">
                    <a href="{{ path('tiers_index',{'discriminator':'client'}) }}">
                        <i class="menu-icon fa fa-id-badge"></i>
                        Les clients
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="menu" data-parent="#admin" id="fournisseurs">
                    <a href="{{ path('tiers_index',{'discriminator':'fournisseurs'}) }}">
                        <i class="menu-icon fa fa-group"></i>
                        Les fournisseurs
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="menu" data-parent="#admin" id="fournisseurs">
                    <a href="{{ path('admin_param') }}">
                        <i class="menu-icon fa fa-wrench"></i>
                        Paramèttre
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="parent" id="advanced">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tag"></i>
                <span class="menu-text"> Avancée</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li id="users_list" class="menu" data-parent="#advanced">
                    <a href="{{ path('user_index') }}" >
                        <i class="menu-icon fa fa-user-plus"></i>
                        Utilisateurs
                    </a>

                    <b class="arrow"></b>
                </li>

                <li id="users_list" class="menu" data-parent="#advanced">
                    <a href="{{ path('logs_index') }}">
                        <i class="menu-icon fa fa-history"></i>
                        Historique
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
        {% endif %}
    </ul>
        <!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>