{% if paiements %}
    <table id="frns-table" class="table  table-bordered table-hover">
        <thead>
        <tr>
            <th width="15%">Date</th>
            <th width="15%">Factures</th>
            <th width="15%">Client</th>
            <th>Montant</th>
            <th>Mode de paiement</th>
        </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>
                    {#{% for class in fee.classes %}
                        {{ class.classes }}
                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    {% endfor %}#}
                    {{ paiement.datePaiement|date('d/m/Y') }}
                </td>
                <td>
                    {% for detail in paiement.paiementFactures %}
                        {{ detail.facture.reference }}
                        {% if loop.last == false %}
                            <hr class="separator">
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ paiement.client }}
                </td>
                <td>
                    {{ paiement.montantRecu|number_format(0,',',' ') }}
                </td>
                <td>
                    {{ paiement.moyenPay.libelle }}
                    {% if paiement.moyenPay.libelle == 'Devise' %}
                        {{ '('~paiement.currency.libelle~')' }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row text-center">
        <button class="btn btn-app btn-success btn-xs" id="btnExport"
                onclick="tableToExcel('frns-table','rapport{{ 'now'|date('d-m-Y') }}')"><i
                    class="ace-icon fa fa-file-excel-o"></i>Exporter
        </button>
    </div>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y a pas de paiement.
    </div>
{% endif %}

<script type="text/javascript">
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,'
            ,
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))); }
            , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }); };
        return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table);
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML};
            window.location.href = uri + base64(format(template, ctx));
        };
    })();
</script>