{%
form_theme form
'contact-theme.html.twig'
'jquery.collection.html.twig'
%}


{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% if label == "danger" %}
        <script>
            $.notify({
                // options
                message: '{{ message }}'
            },{
                // settings
                type: '{{ label }}'
            });
        </script>
        {% endif %}
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

<div class="row">

    {{ form_start(form) }}
    <div class="col-sm-6">
        {{ form_row(form.type) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.raisonSociale) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.mail) }}
        <div class="form-group">
            <h5 class="text-muted grey" style="text-decoration: underline;">Contacts</h5>
            <div class="col-sm-12">
                {{ form_widget(form.contacts) }}
            </div>
        </div>
        {#{{ form_row(form.contacts) }}#}
    </div>
    {#        {{ form_widget(form) }}#}
    {{ form_end(form) }}
</div>

<script type="text/javascript">
    $('#TiersType_type').trigger('change');
    $('.my-selector').collection({
        min: 1,
        allow_up: false,
        allow_down: false,
        allow_duplicate: false,
        add: '<a href="#" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-plus-circle"></i></a>',
        remove: '<a href="#" class="btn btn-sm btn-danger"><i class="ace-icon fa fa-minus-circle"></i></a>',
        init_with_n_elements: 1

    });
</script>

