{% extends 'layout_ajax.html.twig' %}

{% block boutton %}
    <button data-lien="{{ path('user_new') }}" class="btn btn-primary ajout" data-formTitle="Ajouter un utilisateur" data-mod="#gen">
        <i class="ace-icon fa fa-plus-circle"></i>
        Ajouter
    </button>
{% endblock %}
{% block ajax_content %}
    {% include 'user/list_user.html.twig' %}
{% endblock %}