{% if users %}
<table class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th width="15%">Nom d'utilisateur</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Roles</th>
            <th width="15%">Adresse</th>
            <th width="15%">Mail</th>
            <th width="10%">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.nom }}
            </td>
            <td>
                {{ user.prenom }}
            </td>
            <td>
                {{ user.role_toString }}
            </td>
            <td>
                adresse
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                <div class="hidden-sm hidden-xs btn-group">

                    <button data-lien="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-xs btn-info ajout" data-formTitle="Modifier un utilisateur" data-mod="#gen">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </button>

                    <button data-lien="{{ path('user_reinitialize', {'id': user.id}) }}" class="btn btn-xs btn-pink ajout" data-formTitle="Ré-initialiser un utilisateur" data-mod="#gen">
                        <i class="ace-icon fa fa-undo bigger-120"></i>
                    </button>
                    <button data-lien="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-xs btn-danger ajout" data-formTitle="Supprimerr un utilisateur" data-mod="#gen">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                    <span class="blue">
                                        <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                    <span class="green">
                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                    <span class="red">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning text-center">
        Il n'y aps encore d'utilisateur pour GESTI.
    </div>
{% endif %}
