{%
form_theme form
'form/my_theme.html.twig'
%}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <script>
            $.notify({
                // options
                message: '{{ message }}'
            },{
                // settings
                type: '{{ label }}'
            });
        </script>
        {#<div class="flash-{{ label }}">
            {{ message }}
        </div>#}
    {% endfor %}
{% endfor %}

{{ form_start(form) }}
<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
    </div>
    <div class="col-sm-6">
        {{ form_widget(form) }}
    </div>
</div>

{{ form_end(form) }}


